@import url("/static/css/bootstrap.min.css");
@import url("/static/css/all.min.css");
@import url("/static/css/chosen.min.css");
@import url("/static/css/buttons.dataTables.min.css");
@import url("/static/css/datatables.min.css");
@import url("/static/css/select.dataTables.min.css");
@import url("/static/css/molstar.css");


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.navbar{
    font-size: .9rem;
}

.navbar-brand {
    /*width: 240px;*/
    margin: 0;
    padding: 0;
}

/*.nav-item {*/
    /*font-size: .9rem;*/
/*}*/

.navbar-nav .nav-item.active .nav-link {
    color: white;
    font-weight: bold;
    border-bottom: 5px solid rgba(179, 219, 230, 1);
}

/*.cite-div {*/
    /*background-color: gainsboro;*/
    /*border: 1px solid darkgrey;*/
    /*border-radius: 4px;*/
    /*color: dimgray;*/
/*}*/

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;

}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
}

a{
    color: #007bff;
    text-decoration: none;
}
a:hover{
    color: #17a2b8;
}


.sidebar {
    position: fixed;
    width: 240px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 53px 0 0;
}


.collapsible-sidebar {
    position: fixed;
    transition: 0.3s;
    width: 240px;
    left: -200px;
    top: 0;
    bottom: 0;
    z-index: 300;
    padding: 53px 0 0;
    color: white;
}

.collapsible-sidebar:hover{
    left: 0;
}

.sidebar ul li.nav-item a, .collapsible-sidebar ul li.nav-item a {
    color: white;
}

/*.sidebar ul > li.nav-item a::before {*/
    /*width: 1.5em;*/
    /*content: " ";*/
    /*display: inline-block;*/
/*}*/

.sidebar ul > li.nav-item a.active::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f138";
}

.sidebar ul > li.nav-item > nav a {
    font-size: .8em;
}

.sidebar ul > li.nav-item a::before {
    content: " ";
    width: 1.2em;
    /*font-family: 'Font Awesome 5 Free';*/
    font-weight: 900;
    display: inline-block;
    /*content: "\f138";*/
}

.sidebar ul > li.nav-item > nav a::before {
    /*content: "\f0c8";*/
    content: " ";
    width: 1.8em;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    /*font-weight: ;*/
}

.sidebar ul > li.nav-item > nav a.active::before {
    content: "\f054";
    width: 1.8em;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    /*font-weight: ;*/
}

.sidebar ul > li.nav-item > nav a.active {
    background-color: transparent;
}
.sidebar ul > li.nav-item > nav a:hover {
    /*background-color: transparent;*/
    background-color: rgba(179, 219, 230, .5);
}

.collapsible-sidebar.has-submenubar ul.nav > li.nav-item a[aria-expanded="false"]::before {
    display: inline-block;
    width: 1.6em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f067";
}

.collapsible-sidebar.has-submenubar ul.nav > li.nav-item a[aria-expanded="true"]::before {
    display: inline-block;
    width: 1.6em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f068";
}

.collapsible-sidebar ul li.sub-navitem.active {
    border-bottom-left-radius: 10px 45%;
    border-top-left-radius: 10px 45%;
    border-width: 1px 1px 5px 1px;
    border-color: rgba(179, 219, 230, .5);
    border-style: solid;
}

.collapsible-sidebar ul li.sub-navitem:hover {
    background-color: rgba(179, 219, 230, .5);
    border-bottom-left-radius: 10px 45%;
    border-top-left-radius: 10px 45%;
}

.collapsible-sidebar ul li.nav-item:not(.sub-navitem).active a,
.sidebar ul > li.nav-item a.active{
    background-color: rgba(179, 219, 230, .8);
}

.collapsible-sidebar .nav-item:not(.sub-navitem) a:hover,
.sidebar ul > li.nav-item a:hover{
    background-color: rgba(179, 219, 230, .5);
}
/*.sidebar ul > li.nav-item > nav a.active {*/
    /*background-color: transparent;*/
/*}*/

.main-panel {
    padding-top: 70px;
    min-height: 85vh;
    padding-right: 280px;
    padding-left: 80px;
    /*padding-left: 280px;*/
}

.jump-div {
    padding-top: 70px;
}

.msp-plugin .msp-layout-expanded {
/*.msp-plugin .msp-layout-expanded .msp-layout-hide-top .msp-layout-main {*/
    top: 58px;
    left: 40px;
    /*right: 240px;*/
    z-index: 200;
    /*left: 240px;*/
}

@media (max-width: 991px) {
    .sidebar{
        left: -240px;
    }
    .main-panel {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (min-width: 992px) and (max-width: 1143px) {
    .collapsible-sidebar, .sidebar, .main-panel{
        padding-top: 85px;
    }
    .jump-div{
        padding-top: 90px;
    }
}

.wide-panel{
    padding-left: 80px;
    padding-right: 20px;
}


img {
    display: block;
}





h1 a {
    color: #1d3954;
}

.greencolor {
    color: green;
}

.code-text {
    font-size: small;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

#search_tp53 .card {
    margin-bottom: 10px;
}

#search_tp53 .card .search-submenu {
    min-height: 155px;
}

#search_tp53 .short-ht-row .card .search-submenu {
    min-height: 118px;
}
.sm_include_bg, .gm_include_bg {
    background-color: rgba(162, 222, 208, .1);
}

.sm_exclude_bg, .gm_exclude_bg {
    background-color: rgba(241, 169, 160, .1);
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 400;
}

.spinner .spinner-group {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    left: -webkit-calc(50% - 72px);
    left: -moz-calc(50% - 72px);
    left: calc(50% - 72px);
}

/*.col-point97{*/
    /*width: 97%;*/
/*}*/

/*.col-point03{*/
    /*width: 3%;*/
/*}*/

.collapsible-sidebar:hover .sidebar-icon{
    display: none;
}

.collapsible-sidebar .nav, .collapsible-sidebar hr{
    display: none;
}

.collapsible-sidebar:hover .nav, .collapsible-sidebar:hover hr{
    display: block;
}

.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices {
    border: 1px solid #ced4da;
    padding: 0.375rem .75rem;
    border-radius: .25rem;
    background-image: none;
}

.chosen-container-single .chosen-single {
    height: calc(1.5em + .75rem + 2px);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
}

.btn-tiny{
    font-size: .7rem;
    padding: 1px 2px;
}

.btn-tiny-round{
    padding: .18rem .36rem;
    font-size: .6rem;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #f8f9fa;
    border-bottom-color: #f8f9fa;
}

#molstarViewer {
    width: 800px;
    /*width: 400px;*/
    height: 400px;
    position: relative;
}

.small-font{
    font-size: small;
}

.legend-color{
    width: 40px;
    height: 10px;
    display: inline-block;
}

.legend-color-high{
    background-color: red;
}
.legend-color-mid{
    background-color: orange;
}
.legend-color-low{
    background-color: yellow;
}
th.custom50w{
    width: 50%;
}

.criteria-btn.collapsed::after {
    content: 'View Selected Criteria'
}
.criteria-btn:not(.collapsed)::after {
    content: 'Hide Selected Criteria'
}

.criteria-btn.collapsed::before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f078";
    width: 1.1rem;
}

.criteria-btn:not(.collapsed)::before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f077";
    width: 1.1rem;
}

#pubs img{
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 3px 6px 6px 3px rgba(0, 0, 0, 0.1);
}

#pubs img:hover{
    box-shadow: 0 2px 4px 0 rgba(29, 57, 84, 0.3), 3px 6px 6px 3px rgba(29, 57, 84, 0.3);
}

#pubs table tr td{
    padding-right: 10px;
}

.wide-tooltip .tooltip-inner{
    max-width: 800px;
}

.tooltip-inner{
    text-align: left;
}

button.btn-view-details{
    color: #007bff;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    display: inline-block;
    background-color: white;
}
button.btn-view-details:hover{
    border-radius: 50%;
    background-color: #e7f1ff;
}


button[aria-expanded="false"].btn-view-details::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f067";
}

button[aria-expanded="true"].btn-view-details::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f068";
}

.col-45px{
    width: 45px;
}
.col-7-plus{
    width: -webkit-calc(58% - 45px);
    width: -moz-calc(58% - 45px);
/* WebKit */
    width: -webkit-calc(58% - 45px);
/* Standard */
    width: calc(58% - 45px);
}

