<!doctype html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="description" content="NCI TP53 Database: knowledgebase and statistical tools for the analysis of TP53 gene mutations in human cancers">
    <title>NCI TP53 Database</title>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">-->
    <!--<title>Mitelman Database Chromosome Aberrations and Gene Fusions in Cancer</title>-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148377238-1"></script>-->
    <!--<script>-->
    <!--window.dataLayer = window.dataLayer || [];-->
    <!--function gtag() {-->
    <!--dataLayer.push(arguments);-->
    <!--}-->
    <!--gtag('js', new Date());-->
    <!--gtag('config', 'UA-148377238-1');-->
    <!--</script>-->

    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
    {% endblock %}
</head>


<body tabindex="0">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-home"></i>
                TP53
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-evenly" id="navbarCollapse">
                <!--<ul class="navbar-nav me-auto mb-2 mb-md-0">-->
                <ul class="navbar-nav justify-content-evenly" >
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="tp53data" href="search_tp53data"><i class="fas fa-search"></i> Data Exploration</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="help" href="help"><i class="fas fa-hand-paper"></i> Help</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="resources" href="resources"><i class="fas fa-book-open"></i> Resources</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="refs_corner" href="refs_corner"><i class="fas fa-book"></i> Refs Corner</a>
                    </li>
                    <!--<li class="nav-item mx-2">-->
                        <!--<a class="nav-link" id="ppl_events" href="ppl_events"><i class="me-2 far fa-newspaper"></i>People & Events</a>-->
                    <!--</li>-->
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="about" href="about"><i class="fas fa-dna"></i> About</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" id="contact" href="contact"><i class="fas fa-envelope"></i> Contact</a>
                    </li>
                    <li class="nav-item mx-4">
                        <form action="cse_search" method="get" role="search" class="d-flex">
                            <input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"
                                   title="Search this website" aria-label="Search">
                            <button class="btn btn-outline-light btn-sm" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <i class="far fa-copyright"></i> ISB-CGC 2021 - All Rights Reserved. <a href="#">Back to top</a>
        </p>
    </div>
</footer>

</body>



</html>