{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'case_search';
</script>
<script src="{{ url_for('static', filename='js/search.js') }}?v=1"></script>
{% endblock %}

{% block content %}
<h1 class="search-header">Cases Cytogenetics Searcher</h1>
<div class="collapse" id="aboutCaseSearch">
    <div class="card card-body m-2">
        <p>The <strong>Cases Cytogenetics Searcher</strong> finds all cases that match the chosen criteria, provides
            a link to the individual patient information and to the reference itself. The <strong>Advanced
                Search</strong>
            option permits a more detailed search of the same individual patient with more cytogenetic field choices and
            adding search fields for patient characteristics and references.</p>
        <div>
            Tips for this Searcher:
            <ul>
                <li>Check <strong>Yes</strong> in the <strong>Sole Abnormality</strong> field to view cases with only
                    one aberration, irrespective of any other item selected.
                </li>
                <li>The <strong>default</strong> setting for all <strong>select fields</strong> is <strong>All
                    Items</strong>. Or you may select single or multiple items.
                </li>
                <li>Clicking the <i class="fas fa-list" style="margin: 5px;" aria-hidden="true"></i> icon will display a
                    full list of terms available for the field.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                data-target="#aboutCaseSearch"
                aria-expanded="false" aria-controls="aboutCaseSearch">
            <i class="fas fa-info-circle" style="margin-right: 5px;"></i>About This Search
        </button>
        <form action="{{ url_for('search_result') }}" method="POST">
            <input type="hidden" name="search_type" value="case">
            <div class="form-group row">
                <div class="col-sm-4 col-form-label text-right" for="advSearch">Advanced Search</div>
                <div class="col-sm-5 col-form-label" id="advSearch">
                    Off
                    <label class="switch" for="advSearchToggler">
                        <input class="collapse-toggler" type="checkbox" data-toggle="collapse" aria-expanded="false"
                               aria-controls="advSearch0 advSearch1 advSearch2" data-target=".full-case-search"
                               name="advSearch" id="advSearchToggler">
                        <span class="slider round"></span>
                    </label>
                    On
                </div>
            </div>
            <div id="advSearch0" class="collapse full-case-search">
                <div class="form-group row">
                    <div class="col-sm-3 text-right fm-header"><strong>Cytogenetic Characteristics</strong></div>
                    <div class="col-sm-6">
                        <hr>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">

                <div class="row">
                    <legend class="col-sm-4 col-form-label pt-0 text-right">Sole Abnormality</legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="soleAbnormOptions" id="soleAbnormNo"
                                   value="" checked>
                            <label class="form-check-label" for="soleAbnormNo">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="soleAbnormOptions" id="soleAbnormYes"
                                   value="T">
                            <label class="form-check-label" for="soleAbnormYes">Yes</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right" for="inputAbnorm">Abnormality</legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="abNormOptions" id="abNormOptionsAnd"
                                   value="a" checked>
                            <label class="form-check-label" for="abNormOptionsAnd">And</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="abNormOptions" id="abNormOptionsOr"
                                   value="o">
                            <label class="form-check-label" for="abNormOptionsOr">Or</label>
                        </div>
                        <input type="text" class="form-control" name="inputAbnorm" id="inputAbnorm">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right" for="inputBreak">Breakpoint</legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="brOptions" id="brOptionsAnd"
                                   value="a" checked>
                            <label class="form-check-label" for="brOptionsAnd">And</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="brOptions" id="brOptionsOr"
                                   value="o">
                            <label class="form-check-label" for="brOptionsOr">Or</label>
                        </div>

                        <input type="text" class="form-control" name="inputBreak" id="inputBreak">
                    </div>
                </div>
            </fieldset>
            <div id="advSearch1" class="collapse full-case-search">

                <div class="form-group row">
                    <label for="inputNoClones" class="col-sm-4 col-form-label text-right">Number of Clones</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputNoClones" id="inputNoClones">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputNoChrom" class="col-sm-4 col-form-label text-right">Number of
                        Chromosomes</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputNoChrom" id="inputNoChrom">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 text-right fm-header"><strong>Patient Characteristics</strong></div>
                    <div class="col-sm-6 text-right">
                        <hr>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Sex</legend>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadioAny"
                                       value="" checked>
                                <label class="form-check-label" for="genderRadioAny">
                                    Any
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadioM"
                                       value="M">
                                <label class="form-check-label" for="genderRadioM">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadioF"
                                       value="F">
                                <label class="form-check-label" for="genderRadioF">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="inputAge" class="col-sm-4 col-form-label text-right">Age</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputAge" id="inputAge">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Ethnicity</legend>
                        <div class="col-sm-5">
                            {# {% if koder_race %}#}
                            {% if koder_options["RACE"] %}
                            {% for key, value in koder_options["RACE"].items() %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="race{{ key }}"
                                       id="raceCheckbox{{ key }}"
                                       value="{{ value }}">
                                <label class="form-check-label"
                                       for="raceCheckbox{{ key }}">{{ key }}</label>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="inputGeo" class="col-sm-4 col-form-label text-right">Country</label>
                    <div class="col-sm-5">
                        <select name="geo_list" class="form-control chosen-select" id="inputGeo"
                                data-placeholder="Choose a Country..." aria-label="Country Name" multiple>
                            {% for geo_key in koder_options["GEO"] %}
                            <option value="{{ koder_options['GEO'][geo_key] }}">{{ geo_key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Series</legend>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="seriesRadios"
                                       id="seriesRadiosAny"
                                       value="" checked>
                                <label class="form-check-label" for="seriesRadiosAny">
                                    Any
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="seriesRadios"
                                       id="seriesRadiosSel"
                                       value="S">
                                <label class="form-check-label" for="seriesRadiosSel">
                                    Selected
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="seriesRadios"
                                       id="seriesRadiosUnsel"
                                       value="U">
                                <label class="form-check-label" for="seriesRadiosUnsel">
                                    Unselected
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Hereditary Disorder</legend>
                        <div class="col-sm-5">
                            {% if koder_options["HER"] %}
                            {% for key, value in koder_options["HER"].items() %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="herdis{{ value }}"
                                       id="herDisCheckbox{{ value }}"
                                       value="{{ value }}">
                                <label class="form-check-label" for="herDisCheckbox{{ value }}">
                                    {{ key }}
                                </label>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="inputSpecHerDis" class="col-sm-4 col-form-label text-right">
                        <a href="#" data-toggle="modal" data-target="#sher-modal"
                           title="Click to View the Complete Special Hereditary Disorder List">
                            <i class="fas fa-list" style="margin-right: 5px;"></i>
                            <span class="d-none">Special Hereditary Disorder List</span>
                        </a>
                        Special Hereditary Disorder
                    </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="inputSpecHerDis" id="inputSpecHerDis">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 text-right fm-header"><strong>Present Tumor</strong></div>
                    <div class="col-sm-6 text-right">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputTopo" class="col-sm-4 col-form-label text-right">Topography</label>
                <div class="col-sm-5">
                    <select name="topo_list" class="form-control chosen-select" id="inputTopo"
                            data-placeholder="Choose Topographies..." aria-label="Topography Name" multiple>
                        {% for top_key in koder_options["TOP"] %}
                        <option value="{{ koder_options['TOP'][top_key] }}">{{ top_key }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMorph" class="col-sm-4 col-form-label text-right">Morphology</label>
                <div class="col-sm-5">
                    <select name="morph_list" class="form-control chosen-select" id="inputMorph"
                            data-placeholder="Choose Morphologies..." aria-label="Morphology Name" multiple>
                        {% for morph_key in koder_options["MORPH"] %}
                        <option value="{{ koder_options['MORPH'][morph_key] }}">{{ morph_key }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputSpecMorph" class="col-sm-4 col-form-label text-right">
                    <a href="#" data-toggle="modal" data-target="#smor-modal"
                       title="Click to View the Complete Special Morphology List"><i class="fas fa-list"
                                                                                     style="margin-right: 5px;"></i><span
                            class="d-none">Special Morphology List</span></a>
                    Special Morphology
                </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="inputSpecMorph" id="inputSpecMorph">
                </div>
            </div>

            <div id="advSearch2" class="collapse full-case-search">
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Immunophenotype</legend>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="immunoCheckboxB"
                                       id="immunoCheckboxB"
                                       value="B">
                                <label class="form-check-label" for="immunoCheckboxB">
                                    B Lineage
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="immunoCheckboxT"
                                       id="immunoCheckboxT"
                                       value="T">
                                <label class="form-check-label" for="immunoCheckboxT">
                                    T Lineage
                                </label>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="inputTissue" class="col-sm-4 col-form-label text-right">Tissue</label>
                    <div class="col-sm-5">
                        <select name="inputTissue" id="inputTissue" class="form-control" size="1">
                            {% if koder_options["TISSUE"] %}
                            <option value="" selected>[Any]</option>
                            {% for key, value in koder_options["TISSUE"].items() %}
                            <option value="{{ value }}">{{ key }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 text-right fm-header"><strong>Previous Tumor</strong></div>
                    <div class="col-sm-6 text-right">
                        <hr>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0 text-right">Previous Tumor</legend>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="prevTumOptions"
                                       id="prevTumOptionsAny"
                                       value="" checked>
                                <label class="form-check-label" for="prevTumOptionsAny">Any</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="prevTumOptions"
                                       id="prevTumOptionsYes"
                                       value="Y">
                                <label class="form-check-label" for="prevTumOptionsYes">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="prevTumOptions"
                                       id="prevTumOptionsNo"
                                       value="N">
                                <label class="form-check-label" for="prevTumOptionsNo">No/Unknown</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="inputPrevTopo" class="col-sm-4 col-form-label text-right">Topography</label>
                    <div class="col-sm-5">
                        <select name="p_topo_list" class="form-control chosen-select" id="inputPrevTopo"
                                data-placeholder="Choose Topographies..." aria-label="Topography Name" multiple>
                            {% for top_key in koder_options["TOP"] %}
                            <option value="{{ koder_options['TOP'][top_key] }}">{{ top_key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPrevMorph" class="col-sm-4 col-form-label text-right">Morphology</label>
                    <div class="col-sm-5">
                        <select name="p_morph_list" class="form-control chosen-select" id="inputPrevMorph"
                                data-placeholder="Choose Morphologies..." aria-label="Morphology Name" multiple>
                            {% for morph_key in koder_options["MORPH"] %}
                            <option value="{{ koder_options['MORPH'][morph_key] }}">{{ morph_key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTreatment" class="col-sm-4 col-form-label text-right">Treatment</label>
                    <div class="col-sm-5">
                        <select name="inputTreatment" id="inputTreatment" class="form-control" size="1">
                            <option value="">[Any]</option>
                            {% if koder_options["TREAT"] %}
                            {% for key, value in koder_options["TREAT"].items() %}
                            <option value="{{ value }}">{{ key }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3 text-right fm-header"><strong>References</strong></div>
                    <div class="col-sm-6 text-right">
                        <hr>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAuth" class="col-sm-4 col-form-label text-right">Authors</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="inputAuth" id="inputAuth">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputJournal" class="col-sm-4 col-form-label text-right">
                        <a href="#" data-toggle="modal" data-target="#journal-modal"
                           title="Click to View the Complete Journal List"><i class="fas fa-list"
                                                                              style="margin-right: 5px;"></i><span
                                class="d-none">Journal List</span></a>
                        Journal
                    </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="inputJournal" id="inputJournal">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputYear" class="col-sm-4 col-form-label text-right">Year</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputYear" id="inputYear">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputRefNo" class="col-sm-4 col-form-label text-right">Ref No</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputRefNo" id="inputRefNo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCaseNo" class="col-sm-4 col-form-label text-right">Case No</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputCaseNo" id="inputCaseNo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputInvNo" class="col-sm-4 col-form-label text-right">Inv No</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="inputInvNo" id="inputInvNo">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 text-right">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"
                                                                             style="margin-right: 5px;"></i>Search
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>
<div id="sher-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Special Hereditary Disorder List</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ sher_table|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="smor-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h2 class="modal-header">
                <div class="modal-title">Special Morphology List</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h2>
            <div class="modal-body">
                {{ smor_table|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
