{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        active_menu = 'case_search';
    </script>
{% endblock %}

{% block content %}
    <h1 class="search-header">Chromosome Aberration Case Info</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 backbutton-div">
                    <button class="btn btn-outline-secondary back-button"><i class="fas fa-chevron-left"
                                                                     style="margin-right: 5px;"></i>Back
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <a href="{{ url_for('ref_details', refno=detail_info.RefNo) }}"><strong>{{ detail_info.Abbreviation }}, {{ detail_info.Journal }}</strong></a>
                </div>
            </div>
            <div class="row">
                <div class="fm-header col-sm-2"><strong>Ref No.</strong> {{ detail_info.RefNo if detail_info.RefNo }}</div>
                <div class="fm-header col-sm-2"><strong>Case No.</strong> {{ detail_info.CaseNo if detail_info.CaseNo }}</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 fm-header">
                    <strong>Karyotype</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right"></div>
                <div class="col-sm-10">
                    {% for kary in kary_list %}
                        <div>{{ kary }}</div>
                        <br>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 fm-header">
                    <strong>Patient Characteristics</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Sex</div>
                <div class="col-sm-10">
                    {% if detail_info.Sex == 'F' %}
                        Female
                    {% elif detail_info.Sex == 'M' %}
                        Male
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Age</div>
                <div class="col-sm-10">
                    {{ detail_info.Age if detail_info.Age }}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Ethnicity</div>
                <div class="col-sm-10">
                    {{ detail_info.Race if detail_info.Race }}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Country</div>
                <div class="col-sm-10">
                    {{ detail_info.Country if detail_info.Country }}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Series</div>
                <div class="col-sm-10">
                    {% if detail_info.Series == 'S' %}
                        Selected
                    {% elif detail_info.Series == 'U' %}
                        Unselected
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Hereditary Disorder</div>
                <div class="col-sm-10">
                    {{ detail_info.HerDis if detail_info.HerDis }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 fm-header">
                    <strong>Present Tumor</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Topography</div>
                <div class="col-sm-10">
                    {% if detail_info.TopoName %}
                    <a href="{{ url_for('search_result', search_type='case', topo_list=detail_info.Topo) }}">
                        {{ detail_info.TopoName }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Immunophenotype</div>
                <div class="col-sm-10">
                    {% if detail_info.Immunology and  detail_info.Immunology != ' '%}
                        {{ detail_info.Immunology }}-Lineage
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Morphology</div>
                <div class="col-sm-10">
                    {% if detail_info.MorphName %}
                    <a href="{{ url_for('search_result', search_type='case', morph_list=detail_info.Morph) }}">
                        {{ detail_info.MorphName }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Tissue</div>
                <div class="col-sm-10">
                    {{ detail_info.Tissue if detail_info.Tissue }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 fm-header">
                    <strong>Previous Tumor</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Topography</div>
                <div class="col-sm-10">
                    {% if detail_info.PrevTopoName %}
                    <a href="{{ url_for('search_result', search_type='case', topo_list=detail_info.PrevTopo) }}">
                        {{ detail_info.PrevTopoName }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Morphology</div>
                <div class="col-sm-10">
                    {% if detail_info.PrevMorphName %}
                    <a href="{{ url_for('search_result', search_type='case', morph_list=detail_info.PrevMorph) }}">
                        {{ detail_info.PrevMorphName }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-form-label col-sm-2 pt-0 text-right">Treatment</div>
                <div class="col-sm-10">
                    {{ detail_info.PrevTreat if detail_info.PrevTreat }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
