{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'clinical_search';
</script>
<script src="{{ url_for('static', filename='js/search.js') }}?v=1"></script>
{% endblock %}

{% block content %}
<h1 class="search-header">Clinical Associations Searcher</h1>

<div class="collapse" id="aboutSearch">
    <div class="card card-body m-2">
        <p>The <strong>Clinical Associations Searcher</strong> searches studies pertaining to clinical associations of
            cytogenetic aberrations and/or gene rearrangements. It does not search any of the individual patient cases.
        </p>
        Tips for this Searcher:
        <ul>
            <li>The <strong>default</strong> setting for all <strong>select fields</strong> is <strong>All
                Items</strong>. Or you may select single or multiple items.
            </li>
            <li>Clicking the <i class="fas fa-list" style="margin: 5px;" aria-hidden="true"></i> icon will display a
                full list of terms available for the field.
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                data-target="#aboutSearch"
                aria-expanded="false" aria-controls="aboutSearch">
            <i class="fas fa-info-circle" style="margin-right: 5px;"></i>About This Search
        </button>
        <form action="{{ url_for('search_result') }}" method="POST">
            <input type="hidden" name="search_type" value="clinical">
            <div class="form-group row">
                <div class="col-sm-3 text-right fm-header"><strong>Cytogenetic Characteristics</strong></div>
                <div class="col-sm-6">
                    <hr>
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right">Abnormality</legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="abNormOptions" id="abNormOptionsAnd"
                                   value="a" checked>
                            <label class="form-check-label" for="abNormOptionsAnd">And</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="abNormOptions" id="abNormOptionsOr"
                                   value="o">
                            <label class="form-check-label" for="abNormOptionsOr">Or</label>
                        </div>

                        <input type="text" class="form-control" name="inputAbnorm" id="inputAbnorm">
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right">Breakpoint</legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="brOptions" id="brOptionsAnd"
                                   value="a" checked>
                            <label class="form-check-label" for="brOptionsAnd">And</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="brOptions" id="brOptionsOr"
                                   value="o">
                            <label class="form-check-label" for="brOptionsOr">Or</label>
                        </div>

                        <input type="text" class="form-control" name="inputBreak" id="inputBreak">
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-3 text-right fm-header"><strong>Gene Characteristics</strong></div>
                <div class="col-sm-6 text-right">
                    <hr>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right">
                        <a href="#" data-toggle="modal" data-target="#gene-modal"
                           title="Click to View the Complete Gene List"><i class="fas fa-list"
                                                                           style="margin-right: 5px;"></i><span
                                class="d-none">Gene List</span></a>
                        Gene
                    </legend>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="geneRadios" id="geneRadiosAnd"
                                   value="a" checked>
                            <label class="form-check-label" for="geneRadiosAnd">
                                And
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="geneRadios" id="geneRadiosOr"
                                   value="o">
                            <label class="form-check-label" for="geneRadiosOr">
                                Or
                            </label>
                        </div>
                        <select name="gene_list" class="form-control chosen-select" id="inputGene"
                                data-placeholder="Choose Genes..." aria-label="Gene Name" multiple>
                            {% for gene in gene_list %}
                            <option>{{ gene.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <div class="col-sm-3 text-right fm-header"><strong>Tumor Characteristics</strong></div>
                <div class="col-sm-6 text-right">
                    <hr>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputTopo" class="col-sm-4 col-form-label text-right">Topography</label>
                <div class="col-sm-5">
                    <select name="topo_list" class="form-control chosen-select" id="inputTopo"
                            data-placeholder="Choose Topographies..." aria-label="Topography Name" multiple>
                        {% for topo in topo_list %}
                        <option value="{{ topo.value }}">{{ topo.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMorph" class="col-sm-4 col-form-label text-right">Morphology</label>
                <div class="col-sm-5">
                    <select name="morph_list" class="form-control chosen-select" id="inputMorph"
                            data-placeholder="Choose Morphologies..." aria-label="Morphology Name" multiple>
                        {% for morph in morph_list %}
                        <option value="{{ morph.value }}">{{ morph.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-4 pt-0 text-right">Immunophenotype</legend>

                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="immunoCheckboxB"
                                   id="immunoCheckboxB"
                                   value="B">
                            <label class="form-check-label" for="immunoCheckboxB">
                                B Lineage
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="immunoCheckboxT"
                                   id="immunoCheckboxT"
                                   value="T">
                            <label class="form-check-label" for="immunoCheckboxT">
                                T Lineage
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-3 text-right fm-header"><strong>References</strong></div>
                <div class="col-sm-6 text-right">
                    <hr>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAuth" class="col-sm-4 col-form-label text-right">Authors</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="inputAuth" id="inputAuth">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputJournal" class="col-sm-4 col-form-label text-right">
                    <a href="#" data-toggle="modal" data-target="#journal-modal"
                       title="Click to View the Complete Journal List"><i class="fas fa-list"
                                                                          style="margin-right: 5px;"></i><span
                            class="d-none">Journal List</span></a>
                    Journal
                </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="inputJournal" id="inputJournal">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputYear" class="col-sm-4 col-form-label text-right">Year</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputYear" id="inputYear">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputRefNo" class="col-sm-4 col-form-label text-right">Ref No</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputRefNo" id="inputRefNo">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputInvNo" class="col-sm-4 col-form-label text-right">Inv No</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputInvNo" id="inputInvNo">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 text-right">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"
                                                                             style="margin-right: 5px;"></i>Search
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>
<div id="gene-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <h2 class="modal-header">
                <div class="modal-title">Gene List</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h2>
            <div class="modal-body">
                {{ gene_table|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
