{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'contact';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<div class="row">
    <nav class="bg-secondary sidebar"></nav>
    <main class="main-panel">
        <h1>Contact</h1>
        <div class="pt-5">For questions on the web site, please email at <a href="mailto:feedback@isb-cgc.org"
                                                             target="_top">feedback@isb-cgc.org</a>
        </div>

        <div class="pt-1">For questions on interpretation of search results, please email at <a href="mailto:tp53-info@isb-cgc.org"
               target="_top">tp53-info@isb-cgc.org</a>
        </div>

        <div class="pt-3"><em>
            * When addressing an issue, it is important that you supply us with detailed information. Please provide the browser you are using and the steps to recreate the issue.
        </em></div>


    </main>

</div>

{% endblock %}
