{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'contact';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}

<main id="contact">
    <div class="page-banner text-center">
        <h1 class="fw-bold py-2 my-0 display-6">Contact</h1>
    </div>
    <div class="py-5 fs-6 text-center">
        <div class="fw-bold">

            <div class="pt-5">For questions on the web site, please email at <a href="mailto:feedback@isb-cgc.org"
                                                                                target="_top">feedback@isb-cgc.org</a>
            </div>
            <div class="pt-1">For questions on interpretation of search results, please email at <a
                    href="mailto:tp53-info@isb-cgc.org"
                    target="_top">tp53-info@isb-cgc.org</a>
            </div>
        </div>
            <div class="pt-3 "><em>
                * When addressing an issue, it is important that you supply us with detailed information.<br>
                Please provide the type of browser you are using and the steps to recreate the issue.
            </em></div>
        <!--</div>-->
    </div>
</main>

{% endblock %}
