
<div>
    <a class="text-start btn btn-sm btn-outline-secondary criteria-btn collapsed"
       data-bs-toggle="collapse" href="#criteria_div" role="button" aria-expanded="false"
       aria-controls="criteria_div"></a>
</div>
<div id="criteria_div" class="my-2 p-1 collapse bg-light rounded-2 border border-1"
     data-criteria='{{ criteria|tojson }}'>
    {% if criteria|length == 0 %}
    <div class="fw-light fst-italic">None Selected</div>
    {% endif %}
    {% for criterion in criteria %}
        <span class="badge rounded-pill bg-secondary">{{ criterion.column_name }}
        {% if criterion.between_op %}
            BETWEEN [{{ criterion.vals[0] }} AND {{ criterion.vals[1] }}]
        {% elif criterion.vals|length > 1 %}
            IN (
                {% for val in criterion.vals %}
                    {% if loop.index0 > 0 %},{% endif %} {{ criterion.wrap_with }}{{ val }}{{ criterion.wrap_with }}
                {% endfor %}
            )
        {% else %}
            = {{ criterion.wrap_with }}{{  criterion.vals[0] }}{{ criterion.wrap_with }}
        {% endif %}
        </span>
    {% endfor %}
</div>
