{% extends "base.html" %}
{% block title %}The TP53 Database: Keyword Search Results{% endblock %}
{% block head %}
{{ super() }}
<script async src="https://cse.google.com/cse.js?cx={{google_se_id}}"></script>

<!--<script async src="https://cse.google.com/cse.js?cx=dab1bee9d7d88fe88"></script>-->
{% endblock %}
{% block content %}
<main>
    <div class="page-banner text-center">
        <h1 class="py-2 my-0">Search Results</h1>
    </div>

    <div class="p-5">
        <div class="gcse-searchresults-only"></div>
    </div>
</main>
{% endblock %}
