{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'stats_somatic_mut';
</script>


{% endblock %}

{% block subcontent %}
<div class="page-banner text-center">
    <h2 class="pb-3 my-0 fw-normal">Statistics on Somatic Variant Dataset Development</h2>
</div>
<div class="p-5">
    <table class="table table-striped table-sm text-end">
        <thead>
        <tr>
            <th>DB Release</th>
            <th>Release Date</th>
            <th>Variants Count</th>
            <th>Ref. Count</th>
            <th>Last Ref_ID</th>
            <th>Added Ref.</th>
            <th>Added Mutations</th>
            <th>Deleted Mutations<sup>*</sup></th>
            <th>PubMed Search<sup>**</sup></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th>R3</th>
            <td>-</td>
            <td>10,411</td>
            <td>1,048</td>
            <td>1,075</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <th>R4</th>
            <td>July 2000</td>
            <td>14,050</td>
            <td>1,320</td>
            <td>1,369</td>
            <td>294</td>
            <td>3,798</td>
            <td>159</td>
            <td>Jan 1998 - Apr 2000</td>
        </tr>

        <tr>
            <th>R5</th>
            <td>June 2001</td>
            <td>15,121</td>
            <td>1,412</td>
            <td>1,480</td>
            <td>111</td>
            <td>1,459</td>
            <td>388</td>
            <td>May - Dec 2000</td>
        </tr>
        <tr>
            <th>R6</th>
            <td>Jan 2002</td>
            <td>16,285</td>
            <td>1,485</td>
            <td>1,571</td>
            <td>91</td>
            <td>1,549</td>
            <td>385</td>
            <td>Jan - June 2001</td>
        </tr>

        <tr>
            <th>R7</th>
            <td>Sept 2002</td>
            <td>17,689</td>
            <td>1,599</td>
            <td>1,715</td>
            <td>144</td>
            <td>1,477</td>
            <td>73</td>
            <td>July 2001 - June 2002</td>
        </tr>

        <tr>
            <th>R8</th>
            <td>June 2003</td>
            <td>18,585</td>
            <td>1,680</td>
            <td>1,810</td>
            <td>95</td>
            <td>924</td>
            <td>28</td>
            <td>July 2002 - Feb 2003</td>
        </tr>

        <tr>
            <th>R9</th>
            <td>July 2004</td>
            <td>19,809</td>
            <td>1,769</td>
            <td>1,921</td>
            <td>111</td>
            <td>1,196</td>
            <td>40</td>
            <td>March - Dec 2003</td>
        </tr>

        <tr>
            <th>R10</th>
            <td>July 2005</td>
            <td>21,587</td>
            <td>1,876</td>
            <td>2,055</td>
            <td>107</td>
            <td>1,788</td>
            <td>10</td>
            <td>Jan - Dec 2004</td>
        </tr>

        <tr>
            <th>R11</th>
            <td>Nov 2006</td>
            <td>23,544</td>
            <td>1,995</td>
            <td>2,221</td>
            <td>120</td>
            <td>2,014</td>
            <td>57</td>
            <td>Jan - Dec 2005</td>
        </tr>

        <tr>
            <th>R12</th>
            <td>Nov 2007</td>
            <td>24,810</td>
            <td>2,081</td>
            <td>2,349</td>
            <td>86</td>
            <td>1,331</td>
            <td>65</td>
            <td>Jan - Dec 2006</td>
        </tr>

        <tr>
            <th>R13<sup>***</sup></th>
            <td>Nov 2008</td>
            <td>24,806</td>
            <td>2,081</td>
            <td>2,349</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>-</td>
        </tr>

        <tr>
            <th>R14</th>
            <td>Nov 2009</td>
            <td>26,597</td>
            <td>2,179</td>
            <td>2,483</td>
            <td>98</td>
            <td>1,814</td>
            <td>-</td>
            <td>Jan - Dec 2007</td>
        </tr>

        <tr>
            <th>R15<sup>****</sup></th>
            <td>Nov 2010</td>
            <td>27,580</td>
            <td>2,218</td>
            <td>2,564</td>
            <td>48</td>
            <td>1,021</td>
            <td>38</td>
            <td>2,008 - 2009<sup>****</sup></td>
        </tr>

        <tr>
            <th>R16<sup>****</sup></th>
            <td>Nov 2012</td>
            <td>29,575</td>
            <td>2,279</td>
            <td>2,635</td>
            <td>71</td>
            <td>1,995</td>
            <td>-</td>
            <td>2008 - 2011<sup>****</sup></td>
        </tr>

        <tr>
            <th>R17<sup>****</sup></th>
            <td>Nov 2013</td>
            <td>29,711</td>
            <td>2,285</td>
            <td>2,641</td>
            <td>6</td>
            <td>136</td>
            <td>-</td>
            <td>2010 - 2013<sup>****</sup></td>
        </tr>

        <tr>
            <th>R18<sup>****</sup></th>
            <td>April 2016</td>
            <td>29,893</td>
            <td>2,306</td>
            <td>2,642</td>
            <td>1</td>
            <td>182</td>
            <td>NA</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
    <div class="form-text">
        These statistics are for all studies compiled in the IARC database (downloadable dataset of somatic
        mutations).
        Some of these data are not included in the searchable data because they have been identified as poor quality
        data (such studies are annotated as 'Exclude' and we recommended to exclude them from meta-analyses).
        <br/> <br/>
        * Data may be deleted if (1) they correspond to duplicate entries or (2) errors.
        Publication of the same set of samples in different papers by the same authors is a serious problem that has
        led to duplicates entries
        in the database in the past. We now perform systematic searches of the database under the author’s name to
        identify earlier entries that may correspond
        to the same dataset. We have also extensively reviewed the entire dataset in order to find and eliminate
        these duplicates. However, despite these efforts,
        some duplicates may remain in the database and their identification is an ongoing task.<br>
        ** Papers edited in PubMed at the indicated dates were searched with selected keywords and reviewed to
        extract relevant data.<br>
        *** The dataset of somatic variants has not been updated. <br/>
        **** The update only include a selection of papers (see <a href="about#database-dev-div">database
        developments</a>).
    </div>
</div>
{% endblock %}
