{% extends "tp53data_submenu.html" %}
{% block title %}Explore Datasets: Experimentally Induced Variants{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'search_tp53data';
</script>
{% endblock %}

{% block subcontent %}
<div class="page-banner">
    <div class="container">
        <h1 class="fw-bold p-2 my-0">Experimentally Induced Variants</h1>
        <h2 class="p-2 my-0 fw-light">
            Explore data for variants in the human <em>TP53</em> gene obtained from mutagenicity assays in the <a
                href="https://www.ncbi.nlm.nih.gov/pubmed/16777987" target="_blank" class="turquoise-light-text"
                rel="noopener noreferrer">Hupki mouse model</a> (MEF cells treated with the indicated carcinogen agent)
            or in a yeast assay.
        </h2>
    </div>
</div>

<div class="p-5 tile-cards">
    <div class="container">
        <div class="row py-0">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" title="View Experimentally Induced Variant Data" role="button">
                        <a class="card-header-text" href="view_exp_ind_mut">View Data</a>
                    </div>
                    <div class="card-body">
                        <div class="card-text p-3 rounded bg-light">
                            Allows the display or download of variants induced in experimental models of mutagenesis

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 py-0">
            <div class="col-lg-4 d-grid">
                <a href="get_tp53data#get_eim" class="btn btn-secondary grid-button"
                   title="Click to View Downloadable Datasets"
                   role="button">
                    Data Downloads<br><span class="fw-light"><i class="fas fa-chevron-right"></i> Experimentally Induced Variants</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
