{% extends "tp53data_submenu.html" %}
{% block title %}Explore Datasets: Cell Lines{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'cl-exp-btn';
</script>
{% endblock %}

{% block subcontent %}
<div class="page-banner">
    <div class="container py-3">
        <h1 class="fw-bold px-2 my-0">Cell Lines</h1>
        <h2 class="px-2 my-0 fw-light">
            Explore data for cell-lines that have been screened for <em>TP53</em> variant and have been published in the
            scientific literature, in the <a href="https://www.sanger.ac.uk/genetics/CGP/CellLines/" target="_blank"
                                             class="turquoise-light-text" rel="noopener noreferrer">Sanger cell-line
            database</a>, or the <a href="https://www.broadinstitute.org/ccle/home" target="_blank"
                                    rel="noopener noreferrer" class="turquoise-light-text">Broad Cancer
            cell-line Encyclopedia</a>.
        </h2>
    </div>
</div>

<div class="tile-cards p-5">
    <div class="container">
        <div class="row short-ht-row py-0">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" title="Search Cell-Line Variant Data" role="button">
                        <a class="card-header-text" href="/search_cell_lines">Search Cell-Line Data</a>
                    </div>
                    <div class="card-body">
                        <div class="card-text p-3 rounded bg-light">
                            Allows the retrieval and analysis of <strong><em>TP53</em> mutations reported in human cell-lines</strong>. Each dataset entry corresponds to a mutation identified in a cell-line.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" title="View Selected Statistics on Cell-Line Variants" role="button">
                        <a class="card-header-text" href="/stats_cell_lines">Selected Statistics</a>
                    </div>
                    <div class="card-body">
                        <div class="card-text p-3 rounded bg-light">
                            Statistics are available on <strong>tumor site distributions</strong>, <strong>codon distribution of variants</strong> and <strong>type of variants</strong> (by patterns or effects).
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 py-0">
            <div class="col-lg-4 d-grid">
                <a href="/get_tp53data#get_cell" class="btn btn-secondary grid-button"
                   title="Click to View Downloadable Datasets"
                   role="button">
                    Data Downloads<br><span class="fw-light"><i class="fas fa-chevron-right"></i> Cell Lines</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
