<fieldset class="mb-3">
    <div class="row">
        <legend id="{{ id_prefix }}_tumor_origin_legend" class="text-end col-form-label col-sm-3 pt-0">
            Tumor Origin
            <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                    data-bs-placement="right"  aria-label="help button"
                    title="Origin of the tumor sample. Terms occurring in this column are: primary, secondary (second primary
                tumor in the same patient), metastasis (with the localisation of the metastasis in brackets), recurrent
                (tumor recurrence).">
                <i class="far fa-question-circle"></i>
            </button>

        </legend>
        <div class="col-sm-8">
            {% for to_item in tumor_org_group_list%}
            <div class="form-check">
                <input aria-labelledby="{{ id_prefix }}_tumor_origin_legend" class="form-check-input" type="checkbox" name="{{ id_prefix }}_tumor_origin"
                       value="{{ to_item.label }}"
                       id="{{ id_prefix }}_to_{{ to_item.label|lower }}">
                <label class="form-check-label"
                       for="{{ id_prefix }}_to_{{ to_item.label|lower }}">
                    {{ to_item.label|title }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</fieldset>