<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="top"
                title="Site of the tumor defined by organ or group of organs, according to the ICD-O nomenclature.
                 (examples: 'colon', 'brain', 'bronchus and lung'). Note that some tumors are annoted 'Head & Neck, NOS'
                  or 'Colorectum, NOS' because no detail is given in the original publication (NOS= not otherwise specified).
                  <br> For the database search tool, a short name is used in place of the ICD-O name (example: 'Lung'
                   for 'bronchus and lung'). <a target='_blank' href='topo'>See a numerical list of topographies</a>.
                   <br><strong>For metastasis, the topography corresponds to the primary site of the tumor and the site
                    of metastasis is indicated in brackets in the tumor_origin field.</strong>">
            <i class="far fa-question-circle"></i>
        </button>
        Topography
    </legend>
    <div class="col-sm-8">
        <select name="{{ id_prefix }}_topo_list" class="form-control chosen-select topo-morph-select" id="{{ id_prefix }}_topo_input"
                data-placeholder="Choose Topographies..."
                data-topo-morph-assc="{{ topo_morph_assc }}"
                data-morph-toggle="#{{ id_prefix }}_morph_input"
                aria-label="Topography List" multiple>
            {% for topo_item in topo_list %}
            <option value="{{ topo_item.label }}">{{ topo_item.label }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="top"
                title="Tumor type, including morphology and/or histologic type. The terminology used is based on ICD-O
                (2nd and 3rd editions) and SNOMED classifications. Terms have been added, such as 'normal tissue' or
                'na'. <a target='_blank' href='morph'> See alphabetical list of morphologies.">
            <i class="far fa-question-circle"></i>
        </button>
        Morphology
    </legend>
    <div class="col-sm-8">
        <select name="{{ id_prefix }}_morph_list" class="form-control chosen-select" id="{{ id_prefix }}_morph_input"
                data-placeholder="Choose Morphologies..."
                aria-label="Morphology List" multiple>
            {% for morph_item in morph_list %}
            <option value="{{ morph_item.label }}">{{ morph_item.label }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>