<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="">
            <i class="far fa-question-circle"></i>
        </button>
        Age at Diagnosis
    </legend>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-floating">
                    <input type="number" class="form-control" id="{{ id_prefix }}_age_start"
                           name="{{ id_prefix }}_age_start"
                           min="0"
                           max="120">
                    <label for="{{ id_prefix }}_age_start">Start</label>
                </div>
            </div>
            <div class="col-lg-1 text-center">
                <label class="col-form-label">to</label>
            </div>
            <div class="col-lg-2">
                <div class="form-floating">
                    <input type="number" class="form-control" id="{{ id_prefix }}_age_end"
                           name="{{ id_prefix }}_age_end"
                           min="0"
                           max="120">
                    <label for="{{ id_prefix }}_age_end">End</label>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="Nature of the mutation. The terms
                                    occurring in this column are 'A:T&gt;C:G' (A to C or T
                                    to G base change), 'A:T&gt;G:C' (A to G or T to C base
                                    change), 'A:T&gt;T:A' (A to T or T to A base change),
                                    'G:C&gt;A:T' (G to A or C to T base change at non CpG
                                    sites), 'G:C&gt;A:T at CpG' (G to A or C to T base
                                    change at CpG sites),
                                    'G:C&gt;C:G' (G to C or C to G base change),
                                    'G:C&gt;T:A' (G to T or C to A base change),
                                    'tandem' (two consecutive base changes), 'ins'
                                    (insertion), 'del' (deletion) and 'complex'
                                    (complex changes).">
            <i class="far fa-question-circle"></i>
        </button>
        Sex
    </legend>
    <div class="col-sm-8">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_gender"
                   value="F"
                   id="{{ id_prefix }}_gender_f">
            <label class="form-check-label"
                   for="{{ id_prefix }}_gender_f">
                Female
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_gender"
                   value="M"
                   id="{{ id_prefix }}_gender_m">
            <label class="form-check-label"
                   for="{{ id_prefix }}_gender_m">
                Male
            </label>
        </div>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="Nature of the mutation. The terms
                                    occurring in this column are 'A:T&gt;C:G' (A to C or T
                                    to G base change), 'A:T&gt;G:C' (A to G or T to C base
                                    change), 'A:T&gt;T:A' (A to T or T to A base change),
                                    'G:C&gt;A:T' (G to A or C to T base change at non CpG
                                    sites), 'G:C&gt;A:T at CpG' (G to A or C to T base
                                    change at CpG sites),
                                    'G:C&gt;C:G' (G to C or C to G base change),
                                    'G:C&gt;T:A' (G to T or C to A base change),
                                    'tandem' (two consecutive base changes), 'ins'
                                    (insertion), 'del' (deletion) and 'complex'
                                    (complex changes).">
            <i class="far fa-question-circle"></i>
        </button>
        Germline Mutation
    </legend>
    <div class="col-sm-8">
        {% if germ_mut_list|length >3 %}
        <select name="{{ id_prefix }}_germ_mut" class="form-control chosen-select"
                id="{{ id_prefix }}_germ_mut"
                data-placeholder="Choose Germline Mutations..."
                aria-label="Germline Mutation List" multiple>
            {% for germ_mut in germ_mut_list %}
            <option value="{{ germ_mut.label }}">{{ germ_mut.label }}</option>
            {% endfor %}
        </select>
        {% else %}
        {% for germ_mut in germ_mut_list %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_germ_mut"
                   value="{{ germ_mut.label }}"
                   id="{{ id_prefix }}_gm_{{ germ_mut.label|lower }}">
            <label class="form-check-label"
                   for="{{ id_prefix }}_gm_{{ germ_mut.label|lower }}">
                {{ germ_mut.label }}
            </label>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="Nature of the mutation. The terms
                                    occurring in this column are 'A:T&gt;C:G' (A to C or T
                                    to G base change), 'A:T&gt;G:C' (A to G or T to C base
                                    change), 'A:T&gt;T:A' (A to T or T to A base change),
                                    'G:C&gt;A:T' (G to A or C to T base change at non CpG
                                    sites), 'G:C&gt;A:T at CpG' (G to A or C to T base
                                    change at CpG sites),
                                    'G:C&gt;C:G' (G to C or C to G base change),
                                    'G:C&gt;T:A' (G to T or C to A base change),
                                    'tandem' (two consecutive base changes), 'ins'
                                    (insertion), 'del' (deletion) and 'complex'
                                    (complex changes).">
            <i class="far fa-question-circle"></i>
        </button>
        Tobacco
    </legend>
    <div class="col-sm-8">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_tobacco"
                   value="smoker"
                   id="{{ id_prefix }}_tobacco_smoker">
            <label class="form-check-label"
                   for="{{ id_prefix }}_tobacco_smoker">
                Smoker
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_tobacco"
                   value="non-smoker"
                   id="{{ id_prefix }}_tobacco_n_smoker">
            <label class="form-check-label"
                   for="{{ id_prefix }}_tobacco_n_smoker">
                Non-Smoker
            </label>
        </div>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="">
            <i class="far fa-question-circle"></i>
        </button>
        Alcohol
    </legend>
    <div class="col-sm-8">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_alcohol"
                   value="drinker"
                   id="{{ id_prefix }}_alcohol_drinker">
            <label class="form-check-label"
                   for="{{ id_prefix }}_alcohol_drinker">
                Drinker
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_alcohol"
                   value="non-drinker"
                   id="{{ id_prefix }}_alcohol_n_drinker">
            <label class="form-check-label"
                   for="{{ id_prefix }}_alcohol_n_drinker">
                Non-Drinker
            </label>
        </div>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="2D and 3D motifs where the mutation is located according to structures described in
                                        <a href='http://www.ncbi.nlm.nih.gov/pubmed/8023157' target='_blank'>Cho
                                        et al. (1994)</a> and <a href='https://www.ncbi.nlm.nih.gov/pubmed/10618702' target='_blank'>
                                        May and May (1999)</a>">
            <i class="far fa-question-circle"></i>
        </button>
        Country/Population
    </legend>
    <div class="col-sm-8">
        <select name="{{ id_prefix }}_country_list" class="form-control chosen-select"
                id="{{ id_prefix }}_country_input"
                data-placeholder="Choose Countries..."
                aria-label="Country or Population List" multiple>
            {% for country in country_list %}
            <option value="{{ country.label }}">{{ country.label }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="2D and 3D motifs where the mutation is located according to structures described in
                                        <a href='http://www.ncbi.nlm.nih.gov/pubmed/8023157' target='_blank'>Cho
                                        et al. (1994)</a> and <a href='https://www.ncbi.nlm.nih.gov/pubmed/10618702' target='_blank'>
                                        May and May (1999)</a>">
            <i class="far fa-question-circle"></i>
        </button>
        Infectious Agent
    </legend>
    <div class="col-sm-8">
        <select name="{{ id_prefix }}_inf_agnt_list" class="form-control chosen-select"
                id="{{ id_prefix }}_inf_agnt_input"
                data-placeholder="Choose Infectious Agents..."
                aria-label="Infectious Agent List" multiple>
            {% for inf_agnt in inf_agnt_list %}
            <option value="{{ inf_agnt.label }}">{{ inf_agnt.label }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-3 pt-0">
        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="left"
                title="2D and 3D motifs where the mutation is located according to structures described in
                                        <a href='http://www.ncbi.nlm.nih.gov/pubmed/8023157' target='_blank'>Cho
                                        et al. (1994)</a> and <a href='https://www.ncbi.nlm.nih.gov/pubmed/10618702' target='_blank'>
                                        May and May (1999)</a>">
            <i class="far fa-question-circle"></i>
        </button>
        Exposure
    </legend>
    <div class="col-sm-8">
        <select name="{{ id_prefix }}_exposure_list" class="form-control chosen-select"
                id="{{ id_prefix }}_exposure_input"
                data-placeholder="Choose Exposures..."
                aria-label="Exposure List" multiple>
            {% for exposure in exposure_list %}
            <option value="{{ exposure.label }}">{{ exposure.label }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>