{% extends "base.html" %}
{% block title %}Genetic Code{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'resources';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<main>
    <div class="page-banner text-center">
        <h1 class="py-2 my-0">Genetic Code</h1>
    </div>
    <div class="p-4">
        <div class="text-center pb-3">
            Genetic code copied from <a href="https://www.uttyler.edu/directory/chemistry/black.php"
                                        target="_blank" rel="noopener noreferrer">Shaun
            D. Black</a>,
            University of Texas Health Center at Tyler
        </div>
        <table class="mx-auto" border=5 cellpadding=3>
            <thead>

            <tr align="center">
                <td></td>
                <td></td>
                <td colspan=4 bgcolor="#00FF00"><b>Second Position of Codon</b></td>
                <td></td>
                <td></td>
            </tr>

            <tr align="center" bgcolor="#FFFFEE">
                <td></td>
                <td></td>
                <td><b>T</b></td>
                <td><b>C</b></td>
                <td><b>A</b></td>
                <td><b>G</b></td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr align="center" bgcolor="#FFFFEE">
                <td rowspan=4 bgcolor="#ff9933"><b>F<br>i<br>r<br>s<br>t<br>
                    <br>P<br>o<br>s<br>i<br>t<br>i<br>o<br>n</b>
                </td>
                <td><b>T</b></td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>TTT</TD>
                            <td>Phe</TD>
                            <td>[F]</TD>
                        </tr>
                        <tr align="center">
                            <td>TTC</TD>
                            <td>Phe</TD>
                            <td>[F]</TD>
                        </tr>
                        <tr align="center">
                            <td>TTA</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                        <tr align="center">
                            <td>TTG</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>TCT</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                        <tr align="center">
                            <td>TCC</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                        <tr align="center">
                            <td>TCA</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                        <tr align="center">
                            <td>TCG</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>TAT</TD>
                            <td>Tyr</TD>
                            <td>[Y]</TD>
                        </tr>
                        <tr align="center">
                            <td>TAC</TD>
                            <td>Tyr</TD>
                            <td>[Y]</TD>
                        </tr>
                        <tr align="center">
                            <td>TAA</TD>
                            <td><i>Ter</i></TD>
                            <td>[end]</TD>
                        </tr>
                        <tr align="center">
                            <td>TAG</TD>
                            <td><i>Ter</i></TD>
                            <td>[end]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>TGT</TD>
                            <td>Cys</TD>
                            <td>[C]</TD>
                        </tr>
                        <tr align="center">
                            <td>TGC</TD>
                            <td>Cys</TD>
                            <td>[C]</TD>
                        </tr>
                        <tr align="center">
                            <td>TGA</TD>
                            <td><i>Ter</i></TD>
                            <td>[end]</TD>
                        </tr>
                        <tr align="center">
                            <td>TGG</TD>
                            <td>trp</TD>
                            <td>[W]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td><b>T</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>C</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>A</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>G</b></TD>
                        </tr>
                    </table>
                </td>
                <td rowspan=4 bgcolor="#33ccff"><b>T<br>h<br>i<br>r<br>d<br>
                    <br>P<br>o<br>s<br>i<br>t<br>i<br>o<br>n</b>
                </td>
            </tr>

            <tr bgcolor="#FFFFEE">
                <td><b>C</b></td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>CTT</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                        <tr align="center">
                            <td>CTC</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                        <tr align="center">
                            <td>CTA</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                        <tr align="center">
                            <td>CTG</TD>
                            <td>Leu</TD>
                            <td>[L]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>CCT</TD>
                            <td>Pro</TD>
                            <td>[P]</TD>
                        </tr>
                        <tr align="center">
                            <td>CCC</TD>
                            <td>Pro</TD>
                            <td>[P]</TD>
                        </tr>
                        <tr align="center">
                            <td>CCA</TD>
                            <td>Pro</TD>
                            <td>[P]</TD>
                        </tr>
                        <tr align="center">
                            <td>CCG</TD>
                            <td>Pro</TD>
                            <td>[P]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>CAT</TD>
                            <td>His</TD>
                            <td>[H]</TD>
                        </tr>
                        <tr align="center">
                            <td>CAC</TD>
                            <td>His</TD>
                            <td>[H]</TD>
                        </tr>
                        <tr align="center">
                            <td>CAA</TD>
                            <td>Gln</TD>
                            <td>[Q]</TD>
                        </tr>
                        <tr align="center">
                            <td>CAG</TD>
                            <td>Gln</TD>
                            <td>[Q]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>CGT</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                        <tr align="center">
                            <td>CGC</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                        <tr align="center">
                            <td>CGA</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                        <tr align="center">
                            <td>CGG</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td><b>T</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>C</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>A</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>G</b></TD>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr bgcolor="#FFFFEE">
                <td><b>A</b></td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>ATT</TD>
                            <td>Ile</TD>
                            <td>[I]</TD>
                        </tr>
                        <tr align="center">
                            <td>ATC</TD>
                            <td>Ile</TD>
                            <td>[I]</TD>
                        </tr>
                        <tr align="center">
                            <td>ATA</TD>
                            <td>Ile</TD>
                            <td>[I]</TD>
                        </tr>
                        <tr align="center">
                            <td>ATG</TD>
                            <td>Met</TD>
                            <td>[M]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>ACT</TD>
                            <td>Thr</TD>
                            <td>[T]</TD>
                        </tr>
                        <tr align="center">
                            <td>ACC</TD>
                            <td>Thr</TD>
                            <td>[T]</TD>
                        </tr>
                        <tr align="center">
                            <td>ACA</TD>
                            <td>Thr</TD>
                            <td>[T]</TD>
                        </tr>
                        <tr align="center">
                            <td>ACG</TD>
                            <td>Thr</TD>
                            <td>[T]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>AAT</TD>
                            <td>Asn</TD>
                            <td>[N]</TD>
                        </tr>
                        <tr align="center">
                            <td>AAC</TD>
                            <td>Asn</TD>
                            <td>[N]</TD>
                        </tr>
                        <tr align="center">
                            <td>AAA</TD>
                            <td>Lys</TD>
                            <td>[K]</TD>
                        </tr>
                        <tr align="center">
                            <td>AAG</TD>
                            <td>Lys</TD>
                            <td>[K]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>AGT</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                        <tr align="center">
                            <td>AGC</TD>
                            <td>Ser</TD>
                            <td>[S]</TD>
                        </tr>
                        <tr align="center">
                            <td>AGA</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                        <tr align="center">
                            <td>AGG</TD>
                            <td>Arg</TD>
                            <td>[R]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td><b>T</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>C</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>A</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>G</b></TD>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr bgcolor="#FFFFEE">
                <td><b>G</b></td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>GTT</TD>
                            <td>Val</TD>
                            <td>[V]</TD>
                        </tr>
                        <tr align="center">
                            <td>GTC</TD>
                            <td>Val</TD>
                            <td>[V]</TD>
                        </tr>
                        <tr align="center">
                            <td>GTA</TD>
                            <td>Val</TD>
                            <td>[V]</TD>
                        </tr>
                        <tr align="center">
                            <td>GTG</TD>
                            <td>Val</TD>
                            <td>[V]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>GCT</TD>
                            <td>Ala</TD>
                            <td>[A]</TD>
                        </tr>
                        <tr align="center">
                            <td>GCC</TD>
                            <td>Ala</TD>
                            <td>[A]</TD>
                        </tr>
                        <tr align="center">
                            <td>GCA</TD>
                            <td>Ala</TD>
                            <td>[A]</TD>
                        </tr>
                        <tr align="center">
                            <td>GCG</TD>
                            <td>Ala</TD>
                            <td>[A]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>GAT</TD>
                            <td>Asp</TD>
                            <td>[D]</TD>
                        </tr>
                        <tr align="center">
                            <td>GAC</TD>
                            <td>Asp</TD>
                            <td>[D]</TD>
                        </tr>
                        <tr align="center">
                            <td>GAA</TD>
                            <td>Glu</TD>
                            <td>[E]</TD>
                        </tr>
                        <tr align="center">
                            <td>GAG</TD>
                            <td>Glu</TD>
                            <td>[E]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td>GGT</TD>
                            <td>Gly</TD>
                            <td>[G]</TD>
                        </tr>
                        <tr align="center">
                            <td>GGC</TD>
                            <td>Gly</TD>
                            <td>[G]</TD>
                        </tr>
                        <tr align="center">
                            <td>GGA</TD>
                            <td>Gly</TD>
                            <td>[G]</TD>
                        </tr>
                        <tr align="center">
                            <td>GGG</TD>
                            <td>Gly</TD>
                            <td>[G]</TD>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border=0>
                        <tr align="center">
                            <td><b>T</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>C</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>A</b></TD>
                        </tr>
                        <tr align="center">
                            <td><b>G</b></TD>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>


        </table>
    </div>
    </div>
</main>
{% endblock %}
