{% extends "tp53data.html" %}
{% block title %}TP53 Database: Dataset Downloads{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block subcontent %}
<div class="page-banner">
    <div class="container">
        <h1 class="fw-bold p-2 my-0">Dataset Downloads</h1>
    </div>
</div>
<div class="container">
    <div class="p-2 my-5">
        <div id="get_annot" class="pb-5">
            <h3>Functional / Structural Data: <span class="fw-light">Variant Annotations and Phenotypes</span></h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Functional/structural data in <em>TP53</em> with their annotations (includes validated
                        polymorphisms)
                    </td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=MutationView"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/MutationView_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>

                </tr>
                <tr>
                    <td>Functional assessment of <em>p53</em> mutant proteins in various experimental assays</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=FunctionDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/FunctionDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Systematic functional assessment of <em>p53</em> mutant proteins in yeast assays</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=FunctionIshiokaDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/FunctionIshiokaDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_som_mut" class="pb-5">
            <h3>Tumor Variants</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tumor variants in human tumor samples (data file)</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=TumorVariantDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/TumorVariantDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Tumor variants in human tumor samples (references file)</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=TumorVariantRefDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/TumorVariantRefDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prevalence of tumor variants by tumor site</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=PrevalenceDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/PrevalenceDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prevalence of the R249S <em>TP53</em> variants in liver cancer</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=PrevalenceDownloadR249S"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/PrevalenceDownloadR249S_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prognostic value of tumor variants</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=PrognosisDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/PrognosisDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="get_germ_mut" class="pb-5">
            <h3>Germline Variants</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><em>TP53</em> germline variants and family history (data file)</td>
                    <td class="text-center"><a aria-label="View Data"  class="submit-link"
                                               href="/view_data?bq_view_name=GermlineDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/GermlineDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><em>TP53</em> germline variants and family history (references file)</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=GermlineRefDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/GermlineRefDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><em>TP53</em> germline variants prevalence in selected cohorts</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=GermlinePrevalenceView"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/GermlinePrevalenceView_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Frequency of individual variants in case-controls series (new dataset under development)</td>

                    <td class="text-center"><a aria-label="View Data" class="submit-link"
                                               href="/view_data?bq_view_name=GermlineFrequencyDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/GermlineFrequencyDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="get_cell" class="pb-5">
            <h3>Cell Lines</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><em>TP53</em> variant status of human cell-lines</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link" href="/view_data?bq_view_name=CellLineDownload"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/CellLineDownload_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_mouse" class="pb-5">
            <h3>Mouse-Models</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mouse models with engineered <em>TP53</em></td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link" href="/view_data?bq_view_name=MouseModelView"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/MouseModelView_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_eim" class="pb-5">
            <h3>Experimentally Induced Variants</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th class="text-center">Preview</th>
                    <th class="text-center">Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Variants induced in experimental models of mutagenesis</td>
                    <td class="text-center"><a aria-label="View Data" class="submit-link" href="/view_data?bq_view_name=InducedMutationView"><i
                            class="fas fa-table"></i></a></td>
                    <td class="text-center"><a aria-label="Download Data"
                                               href="{{ TP53_DATA_DIR_URL }}/InducedMutationView_{{ ver }}.csv"><i
                            class="fas fa-download"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
