{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'get_tp53data';
</script>
popper.min.js
{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>Dataset Downloads</h2>
    <hr>
    <div class="p-3">
        <div id="get_som_mut" class="jump-div">
            <h3>Somatic Mutations</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Somatic mutations in human tumor samples (data file)</td>
                    <td><a href="view_data?bq_view_name=SomaticDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/somatic_mutation_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Somatic mutations in human tumor samples (references file)</td>
                    <td><a href="view_data?bq_view_name=SomaticRefDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/somatic_mutation_reference_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prevalence of somatic mutations by tumor site</td>
                    <td><a href="view_data?bq_view_name=PrevalenceDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/prevalence_somatic_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prevalence of the R249S TP53 mutations in liver cancer</td>
                    <td></td>
                    <td><a href="{{ url_for('static', filename='download/R249Sprevalence_IARC_R15.txt') }}"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Prognostic value of somatic mutations</td>
                    <td><a href="view_data?bq_view_name=PrognosisDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/prognostic_somatic_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="get_germ_mut" class="jump-div">
            <h3>Germline Mutations</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TP53 germline mutations and family history (data file)</td>
                    <td><a href="view_data?bq_view_name=GermlineDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/germline_mutation_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>TP53 germline mutations and family history (references file)</td>
                    <td><a href="view_data?bq_view_name=GermlineRefDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/germline_mutation_reference_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>TP53 germline mutations prevalence in selected cohorts</td>
                    <td><a href="view_data?bq_view_name=GermlinePrevalenceView"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/germline_prevalence_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Frequency of individual mutations in case-controls series (new dataset under development)</td>
                    <td></td>
                    <td><a href="{{ url_for('static', filename='download/germlineFrequency_IARCTP53Database_R20.txt') }}"><i class="fas fa-download"></i></a></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div id="get_cell" class="jump-div">
            <h3>Cell Lines</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>TP53 mutation status of human cell-lines</td>
                    <td><a href="view_data?bq_view_name=CellLineDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/cellline_download_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_annot" class="jump-div">
            <h3>Mutation Annotations and Phenotypes</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Gene variations in TP53 with their annotations (includes validated polymorphisms)</td>
                    <td><a href="view_data?bq_view_name=MutationView"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/gene_variation_dataset.csv"><i class="fas fa-download"></i></a></td>

                </tr>
                <tr>
                    <td>Functional assessment of p53 mutant proteins in various experimental assays</td>
                    <td><a href="view_data?bq_view_name=FunctionDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/function_download_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Systematic functional assessment of p53 mutant proteins in yeast assays</td>
                    <td><a href="view_data?bq_view_name=FunctionIshiokaDownload"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/function_ishioka_download_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_mouse" class="jump-div">
            <h3>Mouse-Models</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mouse models with engineered TP53</td>
                    <td><a href="view_data?bq_view_name=MouseModelView"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/mouse_model_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="get_eim" class="jump-div" style="margin-bottom:65vh;">
            <h3>Experimentally Induced Mutations</h3>
            <table class="table">
                <thead>
                <tr>
                    <th class="custom50w">Dataset</th>
                    <th>Preview</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mutations induced in experimental models of mutagenesis</td>
                    <td><a href="view_data?bq_view_name=InducedMutationView"><i class="fas fa-table"></i></a></td>
                    <td><a href="{{ TP53_DATA_DIR_URL }}/induced_mutation_dataset.csv"><i class="fas fa-download"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
