{% extends "base.html" %}

{% block title %}The TP53 Database | ISB-CGC{% endblock %}
{% block content %}
<main id="landing">
    <div id="browser-alert" class="m-0 alert alert-dismissible collapse" role="alert">
        <span class="darkpurple-text"><i class="fas fa-exclamation-circle"></i> <strong>This web site is optimized for use
        with the Google Chrome or Mozilla Firefox desktop web browsers.</strong></span> If you find an issue and you are
        not using
        Google Chrome or Mozilla Firefox, please try using Google Chrome or Mozilla Firefox to
        see if the issue appears to be browser specific.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="page-banner">
        <div class="landing-text-1 py-2 px-3 container">
            The <em>TP53</em> Database compiles various types of data and information from the literature and generalist
            databases on human <em>TP53</em> gene variations related to cancer. The database is hosted by the <a
                href="https://www.cancer.gov/" class="turquoise-light-text" rel="noopener noreferrer" target="_blank">National
            Cancer Institute (NCI)</a> of the United States. The content reflects the <a href="/about#r20"
                                                                                         class="turquoise-light-text"
                                                                                         target="_blank"
                                                                                         rel="noopener noreferrer">R20,
            July 2019
            version</a>
        </div>
    </div>
    <div id="announcement-banner" class="p-1 alert alert-dismissible" role="alert">
        <div class="container darkpurple-text">
            [ANNOUNCEMENT] Direct <a target="_blank" rel="noopener noreferrer" href="/resources#sanger_seq_protocol_link">Sequencing by Sanger protocol</a> has been
            updated. A polymorphic site has been detected in P-326 primer <a target="_blank" rel="noopener noreferrer"
                               href="https://gnomad.broadinstitute.org/variant/17-7676301-G-T?dataset=gnomad_r4">(17-7579619-G-T)</a>
            with an allele frequency of 5.99% (gnomAD v4.0.0). <em>1/3/24</em>
            <!--            Upcoming <em>TP53</em> meetings and conferences can be found in the <a href="/events">Events</a> menu.-->
            <!--            <br/>-->
            <!--            Did you find any issues? Please <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/wUWAPsNaBuErz6NQ6">submit a report</a>.-->
            <!--            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSeRNr_cPXBx8GjzM56SRUO0OYQHxJMeLidnJmxx30GRWPI_gA/viewform">Submit this form</a> to share your data with our community! -->
            <!--            Please <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/wUWAPsNaBuErz6NQ6">report any issues</a> you may have found.-->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>

    </div>
    <div class="p-5 pb-4 tile-cards">
        <div class="container">
            <div class="row tall-ht-row py-0">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_gv"
                                           title="Click to learn about functional/structural data search options">
                                            Functional / Structural Data
                                        </a></div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtGV" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtGV">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="abtGV" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/search_gene_by_var"
                                       class="list-group-item list-group-item-action">
                                        Search by Gene Variants
                                    </a>
                                    <a href="/search_gene_by_mut"
                                       class="list-group-item list-group-item-action">
                                        Search by Variant Features
                                    </a>
                                    <a href="/view_val_poly"
                                       class="list-group-item list-group-item-action">
                                        View Validated Polymorphisms
                                    </a>
                                    <a href="/get_tp53data#get_annot"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>
                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore functional and structural data and frequency statistics of all possible
                                    single
                                    nucleotide substitutions in <em>TP53</em> exonic sequences, other variants reported
                                    in human
                                    samples, and validated polymorphisms.
                                </div>
                                <!--<div class="text-end"><a href="explore_gv">View Options <i class="fas fa-long-arrow-alt-right"></i></a></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_sm"
                                           title="Click to learn about tumor variant data search options">
                                            Tumor Variants
                                        </a>
                                    </div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtSM" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtSM">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="abtSM" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/search_somatic_mut"
                                       class="list-group-item list-group-item-action">
                                        Search Tumor Variant Data
                                    </a>
                                    <a href="/search_somatic_prevalence"
                                       class="list-group-item list-group-item-action">
                                        Search Variant Prevalence Data
                                    </a>
                                    <a href="/stats_somatic_mut"
                                       class="list-group-item list-group-item-action">
                                        Selected Statistics
                                    </a>
                                    <a href="/get_tp53data#get_som_mut"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>
                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore data for <em>TP53</em> tumor variants identified in human tumor samples.
                                    Includes data on the type and position of variants, detailed information on the
                                    tumor in which the variants have been found, and on various characteristics of the
                                    patients in which the tumor developed.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_gm"
                                           title="Click to learn about germline variant data search options">
                                            Germline Variants
                                        </a></div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtGM" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtGM">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div id="abtGM" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/search_germline_mut"
                                       class="list-group-item list-group-item-action">
                                        Search Germline Variant Data
                                    </a>
                                    <a href="/stats_germline_mut"
                                       class="list-group-item list-group-item-action">
                                        Selected Statistics
                                    </a>
                                    <a href="/get_tp53data#get_germ_mut"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>

                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore data for individuals that are carriers of a <em>TP53</em> germline variant
                                    and families in which at least one family member has been identified as a carrier of
                                    a germline variant in the <em>TP53</em> gene.
                                </div>
                                <!--<div class="text-end"><a href="explore_gm">View Options <i class="fas fa-long-arrow-alt-right"></i></a></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row short-ht-row py-0">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_cl"
                                           title="Click to learn about cell line data search options">
                                            Cell Lines
                                        </a>
                                    </div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtCL" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtCL">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="abtCL" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/search_cell_lines"
                                       class="list-group-item list-group-item-action">
                                        Search Cell-Line Data
                                    </a>
                                    <a href="/stats_cell_lines"
                                       class="list-group-item list-group-item-action">
                                        Selected Statistics
                                    </a>
                                    <a href="/get_tp53data#get_cell"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>
                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore data for cell-lines that have been screened for <em>TP53</em> variant and
                                    have been published in the scientific literature, in the <a
                                        href="https://www.sanger.ac.uk/genetics/CGP/CellLines/" target="_blank"
                                        rel="noopener noreferrer">
                                    Sanger cell-line database</a>, or the <a href="https://www.broadinstitute.org/ccle/home" target="_blank"
                                                rel="noopener noreferrer">Broad Cancer cell-line Encyclopedia</a>.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_mm"
                                           title="Click to learn about mouse model search options">
                                            Mouse Models
                                        </a></div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtMM" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtMM">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="abtMM" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/view_mouse" class="list-group-item list-group-item-action">
                                        View Data
                                    </a>
                                    <a href="/get_tp53data#get_mouse"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>
                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore data for mouse models with engineered <em>p53</em> that are compiled in the
                                    caMOD database or reported in the scientific literature.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col px-0">
                                        <a class="card-header-text" href="/explore_eim"
                                           title="Click to learn about experimentally induced variant data search options">
                                            Experimentally Induced Variants
                                        </a>
                                    </div>
                                    <div class="col-1 px-0">
                                        <button class="btn-view-details card-expand-btn"
                                                title="Open search options"
                                                data-bs-toggle="collapse" href="#abtEIM" role="button"
                                                aria-expanded="false"
                                                aria-controls="abtEIM">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="abtEIM" class="card-text collapse p-3 rounded bg-light">
                                <div class="list-group list-group-flush">
                                    <a href="/view_exp_ind_mut"
                                       class="list-group-item list-group-item-action">
                                        View Data
                                    </a>
                                    <a href="/get_tp53data#get_eim"
                                       class="list-group-item list-group-item-action">
                                        Downloads
                                    </a>
                                </div>
                            </div>
                            <div class="search-submenu">
                                <div class="card-text p-3 rounded bg-light">
                                    Explore data for variants in the human <em>TP53</em> gene obtained from mutagenicity
                                    assays in the <a href="https://www.ncbi.nlm.nih.gov/pubmed/16777987" target="_blank"
                                                     rel="noopener noreferrer">Hupki mouse model</a> (MEF cells treated
                                    with the indicated carcinogen agent) or in a yeast assay.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<script type="text/javascript">-->
    <!--open_sidebar();-->
<!--// </script>-->
{% endblock %}
