{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'search_tp53data';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/mut_details.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/libs/html2pdf.bundle.min.js') }}"></script>-->

{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <!--<div class="float-end">-->
        <!--<button class="text-start btn btn-sm btn-outline-secondary download-pdf-btn">-->
            <!--<i class="fas fa-download"></i> Download PDF-->
        <!--</button>-->
    <!--</div>-->
    <div class="float-end">
        <button data-download="{{ tsv_data }}" class="text-start btn btn-sm btn-outline-secondary download-btn">
            <i class="fas fa-download"></i> Download Selected Dataset
        </button>
    </div>
    <div id="mut_details">
        <h2>Mutation Details: {{ mut_desc.c_description }}</h2>

        <hr>

        <div class="p-3">
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Mutation Description</h3>
                {% if not mut_desc %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="mutation-description" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-g_description_GRCh38">Genomic Description (hg38)</th>
                        <th class="">cDNA Description</th>
                        <th class="">Protein Description</th>
                        <th class="th-help-ExonIntron">Exon nb</th>
                        <th class="th-help-CpG_site">CpG Site</th>
                        <th class="th-help-Splice_site">Splice Site</th>
                        <th class="th-help-Context3">Sequence Context</th>
                        <th class="th-help-WT_codon">WT Codon</th>
                        <th class="th-help-Mutant_codon">Mutant Codon</th>
                        <th class="th-help-Effect">Effect</th>
                        <th class="th-help-EffectGroup3">Effect Group3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ mut_desc.g_description_GRCh38 }}</td>
                        <td>{{ mut_desc.c_description }}</td>
                        <td>{{ mut_desc.ProtDescription }}</td>
                        <td>{{ mut_desc.ExonIntron }}</td>
                        <td>{{ mut_desc.CpG_site }}</td>
                        <td>{{ mut_desc.Splice_site }}</td>
                        <td>{{ mut_desc.Context_coding_3 }}</td>
                        <td>{{ mut_desc.WT_codon }}</td>
                        <td>{{ mut_desc.Mutant_codon }}</td>
                        <td>{{ mut_desc.Effect }}</td>
                        <td>{{ mut_desc.EffectGroup3 }}</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Predicted or Observed Splicing Effects on Main Transcript</h3>
                {% if query_result.splice_pred|length == 0 %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="predicted-effect-on-splicing" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-SiteType">Site Type</th>
                        <th class="th-help-p53Site">p53Site</th>
                        <th class="th-help-WTscore">WT Score</th>
                        <th class="th-help-MUTscore">MUT Score</th>
                        <th class="th-help-SpliceVariation">Variation</th>
                        <th class="th-help-SpliceSource">Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in query_result.splice_pred %}
                    <tr>
                        <td>{{ row.Splice_Site_Type or '' }}</td>
                        <td>{{ row.p53SpliceSite or '' }}</td>
                        <td>{{ row.WT_score or '' }}</td>
                        <td>{{ row.Mutant_score or '' }}</td>
                        <td>{{ row.Variation or '' }}</td>
                        <td>{{ row.Source or '' }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Protein Features</h3>
                {% if not prot_desc %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="protein-description" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-StructuralMotif">Structural Motif</th>
                        <th class="th-help-DomainFunction">Domain Function</th>
                        <th class="th-help-ResidueFunction">Residue Function</th>
                        <th class="th-help-Hotspot">Cancer Hotspot</th>
                        <th class="th-help-Mut_rateAA">Mutation Rate</th>
                        <th class="th-help-SwissProtLink">SwissProt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ prot_desc.Structural_motif or '' }}</td>
                        <td>{{ prot_desc.Domain_function or '' }}</td>
                        <td>{{ prot_desc.Residue_function or '' }}</td>
                        <td>{{ prot_desc.Hotspot or '' }}</td>
                        <td>{{ prot_desc.Mut_rate or '' }}</td>
                        <td><a target="_blank"
                               href="https://web.expasy.org/variant_pages/VAR_{{prot_desc.SwissProtLink}}.html">
                            {{ prot_desc.SwissProtLink or '' }}</a></td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Systematic Assessment of Transactivation Capacities in Yeast and Saos2 Assays by <a target="_blank"
                                                                                                        href="https://www.ncbi.nlm.nih.gov/pubmed/12826609">Kato
                    (2003)</a> and <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15781620">Kakudo
                    (2005)</a>
                </h3>
                {% if not sys_assess %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="assessment" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-TA_Ishioka_Yeast">WAF1</th>
                        <th class="th-help-TA_Ishioka_Yeast">MDM2</th>
                        <th class="th-help-TA_Ishioka_Yeast">BAX</th>
                        <th class="th-help-TA_Ishioka_Yeast">H1433s</th>
                        <th class="th-help-TA_Ishioka_Yeast">AIP1</th>
                        <th class="th-help-TA_Ishioka_Yeast">GADD45</th>
                        <th class="th-help-TA_Ishioka_Yeast">NOXA</th>
                        <th class="th-help-TA_Ishioka_Yeast">P53R2</th>
                        <th class="th-help-TA_Ishioka_Saos">WAF1 (Saos2)</th>
                        <th class="th-help-TA_Ishioka_Saos">MDM2 (Saos2)</th>
                        <th class="th-help-TA_Ishioka_Saos">BAX (Saos2)</th>
                        <th class="th-help-TA_Ishioka_Saos">h1433s (Saos2)</th>
                        <th class="th-help-TA_Ishioka_Saos">AIP1 (Saos2)</th>
                        <th class="th-help-TA_Ishioka_Saos">PUMA (Saos2)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ sys_assess.WAF1nWT or '' }}</td>
                        <td>{{ sys_assess.MDM2nWT or '' }}</td>
                        <td>{{ sys_assess.BAXnWT or '' }}</td>
                        <td>{{ sys_assess.h1433snWT or '' }}</td>
                        <td>{{ sys_assess.AIP1nWT or '' }}</td>
                        <td>{{ sys_assess.GADD45nWT or '' }}</td>
                        <td>{{ sys_assess.NOXAnWT or '' }}</td>
                        <td>{{ sys_assess.P53R2nWT or '' }}</td>
                        <td>{{ sys_assess.WAF1nWT_Saos2 or '' }}</td>
                        <td>{{ sys_assess.MDM2nWT_Saos2 or '' }}</td>
                        <td>{{ sys_assess.BAXnWT_Saos2 or '' }}</td>
                        <td>{{ sys_assess.h1433snWT_Saos2 or '' }}</td>
                        <td>{{ sys_assess.AIP1nWT_Saos2 or '' }}</td>
                        <td>{{ sys_assess.PUMAnWT_Saos2 or '' }}</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Predicted or Observed Impacts on Protein Functions</h3>
                {% if not prot_pred %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="predicted-effect-on-protein" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-TA_class">Transactivation Class</th>
                        <th class="th-help-DNE">DNE</th>
                        <th class="th-help-DNE_LOFclass">DNE_LOF Class</th>
                        <th class="th-help-AGVGD_class">Align-GVGD</th>
                        <th class="th-help-BayesDel">BayesDel</th>
                        <th class="th-help-REVEL">REVEL</th>
                        <th class="th-help-SIFT_class">SIFT</th>
                        <th class="th-help-Polyphen2">Polyphen2</th>
                        <th class="th-help-StructureFunction">Structure Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ prot_pred.TransactivationClass or '' }}</td>
                        <td>{{ prot_pred.DNEclass or '' }}</td>
                        <td>{{ prot_pred.DNE_LOFclass or '' }}</td>
                        <td>{{ prot_pred.AGVGDClass or '' }}</td>
                        <td>{{ prot_pred.BayesDel or '' }}</td>
                        <td>{{ prot_pred.REVEL or '' }}</td>
                        <td>{{ prot_pred.SIFTClass or '' }}</td>
                        <td>{{ prot_pred.Polyphen2 or '' }}</td>
                        <td>{{ prot_pred.StructureFunctionClass or '' }}</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Predicted Effect on p53 <a href="p53IsoformsPredictions">Protein Isoforms</a></h3>
                {% if query_result.p53_pred|length == 0 %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="predicted-effect-on-p53" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-MainIsoforms">TAp53 Alpha</th>
                        <th class="th-help-OtherIsoforms">TAp53 Beta</th>
                        <th class="th-help-OtherIsoforms">TAp53 Gamma</th>
                        <th class="th-help-OtherIsoforms">Delta40p53 Alpha</th>
                        <th class="th-help-OtherIsoforms">Delta40p53 Beta</th>
                        <th class="th-help-OtherIsoforms">Delta40p53 Gamma</th>
                        <th class="th-help-OtherIsoforms">Delta133p53 Alpha</th>
                        <th class="th-help-OtherIsoforms">Delta133p53 Beta</th>
                        <th class="th-help-OtherIsoforms">Delta133p53 Gamma</th>
                        <th class="th-help-OtherIsoforms">Deltap53 Alpha</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in query_result.p53_pred %}
                    <tr>
                        <td>{{ row.TAp53 or '' }}</td>
                        <td>{{ row.TAp53beta or '' }}</td>
                        <td>{{ row.TAp53gamma or '' }}</td>
                        <td>{{ row.delta40p53 or '' }}</td>
                        <td>{{ row.delta40p53beta or '' }}</td>
                        <td>{{ row.delta40p53gamma or '' }}</td>
                        <td>{{ row.delta133p53 or '' }}</td>
                        <td>{{ row.delta133p53beta or '' }}</td>
                        <td>{{ row.delta133p53gamma or '' }}</td>
                        <td>{{ row.deltap53 or '' }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Various Activities Assessed in Yeast or Human Assays</h3>
                {% if query_result.vars_act|length == 0 %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="various-activities" class="table table-sm small-font clientside-processed">
                    <thead>

                    <tr>
                        <th class="th-help-Loss_of_function">Lost Function</th>
                        <th class="th-help-Conserved_WT_function">Retained Function</th>
                        <th class="th-help-Gain_of_function">Gain of Function</th>
                        <th class="th-help-Dominant_negative_activity">Dominant Negative Activity</th>
                        <th class="th-help-Temperature_sensitivity">Temperature Sensitivity</th>
                        <th class="th-help-Cells">Cell Lines</th>
                        <th class="th-help-PubMed">PubMed</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for row in query_result.vars_act %}
                    <tr>
                        <td>{{ row.Loss_of_Function or '' }}</td>
                        <td>{{ row.Conserved_WT_Function or '' }}</td>
                        <td>{{ row.Gain_of_Function or '' }}</td>
                        <td>{{ row.Dominant_Negative_Activity or '' }}</td>
                        <td>{{ row.Temperature_Sensitivity or '' }}</td>
                        <td>{{ row.Cell_lines or '' }}</td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ row.PubMed }}" target="_blank">{{ row.PubMed
                            }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Mouse Models Engineered with the Selected Mutant</h3>
                {% if query_result.mouse|length == 0 %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="mouse-models" class="table table-sm  small-font clientside-processed">
                    <thead>
                    <tr>
                        <th class="th-help-ModelDescriptor">Model descriptor</th>
                        <th class="th-help-AffectedOrgans">Targeted or affected organs</th>
                        <th class="th-help-caMOD">caMOD</th>
                        <th class="th-help-PubMed">PubMed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in query_result.mouse %}
                    <tr>
                        <td>{{ row.ModelDescription|safe }}</td>
                        <td>{{ row.TumorSites or '' }}</td>
                        <td>
                            {{ row.caMOD_ID }}
                            <!--<a href="https://cancermodels.nci.nih.gov/camod/ViewModelAction.do?aModelID={{ row.caMOD_ID }}&unprotected_method=populateModelCharacteristics" target="_blank">{{ row.caMOD_ID or '' }}</a>-->
                        </td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ row.PubMed }}" target="_blank">{{ row.PubMed
                            }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="my-2 p-3 bg-light rounded-2">
                <h3>Experimentally Induced Mutations</h3>
                {% if query_result.induced|length == 0 %}
                <div class="fw-light fst-italic">No Data</div>
                {% else %}
                <table id="induced-mutations" class="table table-sm small-font">
                    <thead>
                    <tr>
                        <th class="th-help-ExpIndMutExposure">Exposure</th>
                        <th class="th-help-ExpIndMutModel">Model</th>
                        <th class="th-help-PubMed">PubMed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in query_result.induced %}
                    <tr>
                        <td>{{ row.Exposure }}</td>
                        <td>{{ row.Model }}</td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ row.PubMed }}" target="_blank">{{ row.PubMed
                            }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
