{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/build_chart_config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stats_mutation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/JSmol.min.nojq.js') }}"></script>
<script type="text/javascript">
    active_submenu = "{{ submenu }}";
    var graph_result = {{ graph_result | tojson | safe }};
    var pdb_filepath = "{{ url_for('static', filename='pdb/1tsr_B.pdb') }}";
    var j2s_path = "{{ url_for('static', filename='js/libs/j2s') }}";
</script>
{% endblock %}

{% block subcontent %}

<div class="pt-4">
    <h2>{{ title }}
        {% if subtitle %}
        :
        {% endif %}
        <span class="ms-2 fw-light">{{ subtitle }}</span></h2>
    <hr>
    <div class="py-2 text-end">
        {% include 'criteria_map_div.html' %}
    </div>

    <nav>
        <div class="nav nav-tabs" id="mut_stats_tabs" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-mut-type-tab"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mutation Type
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-mut-effect-tab"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mutation Effect
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane bg-light fade show active border border-top-0" id="nav-mut-type-tab" role="tabpanel" aria-labelledby="nav-mut-type-tab">
            <div class="p-3">
                <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-6 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="exon_intron" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="exon_intron_chart"></canvas>
                    </div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="type" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="type_chart"></canvas>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-6 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="codon_no" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="codon_no_chart"></canvas>
                    </div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div class="text-end pb-1">
                            <div data-graph-id="struct_3D" class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                                </button>
                                <button type="button" class="btn btn-outline-secondary d-jsmoldata-btn"><i
                                        class="fas fa-download"></i> Data
                                </button>
                            </div>
                        </div>
                        <div id="jmol-info-text" class="text-white bg-secondary small-font p-1">
                            <i class="fab fa-chrome"></i> Chrome: <kbd>R-click</kbd> or <kbd>Ctrl-click</kbd> for menu
                        </div>
                        <span id="struct_3D">
                        </span>
                        <div id="jmol-legend" class="text-muted text-end small-font">
                            Mutation Frequency:
                            <div class="d-inline my-auto"><div class="legend-color legend-color-high"></div> High</div>
                            <div class="d-inline my-auto ms-2"><div class="legend-color legend-color-mid"></div> Medium</div>
                            <div class="d-inline my-auto ms-2"><div class="legend-color legend-color-low"></div> Low</div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-light fade border border-top-0" id="nav-mut-effect-tab" role="tabpanel" aria-labelledby="nav-mut-effect-tab">
            <div class="p-3">
                <div class="row mt-2">
                    <div class="col-2"></div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="effect" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="effect_chart"></canvas>
                    </div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="mut_pt" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="mut_pt_chart"></canvas>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="sift_class" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="sift_class_chart"></canvas>
                    </div>
                    <div class="col-4 border rounded-2 p-3 bg-white m-1">
                        <div data-graph-id="ta_class" class="btn-group btn-group-sm float-end">
                            <button type="button" class="btn btn-outline-secondary expand-btn" data-bs-toggle="modal"
                                    data-bs-target="#expand-modal"><i class="fas fa-expand"></i> Expand
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-img-btn"><i
                                    class="fas fa-download"></i> Image
                            </button>
                            <button type="button" class="btn btn-outline-secondary d-data-btn"><i
                                    class="fas fa-download"></i> Data
                            </button>
                        </div>
                        <canvas id="ta_class_chart"></canvas>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="expand-modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="small-chart col-5 border rounded-2 p-3 my-3 mx-auto">
                            <div class="jsmol-content text-white bg-secondary small-font p-1">
                                <i class="fab fa-chrome"></i> Chrome: <kbd>R-click</kbd> or <kbd>Ctrl-click</kbd> for
                                menu
                            </div>
                            <span id="expanded-struct3D"></span>
                            <div id="modal-jsmol-legend" class="jsmol-content small-font text-muted text-end">
                                Mutation Frequency:
                                <div class="d-inline my-auto">
                                    <div class="legend-color legend-color-high"></div>
                                    High
                                </div>
                                <div class="d-inline my-auto ms-2">
                                    <div class="legend-color legend-color-mid"></div>
                                    Medium
                                </div>
                                <div class="d-inline my-auto ms-2">
                                    <div class="legend-color legend-color-low"></div>
                                    Low
                                </div>
                            </div>
                            <canvas id="expanded-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


