{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/build_chart_config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stats_mutation.js') }}"></script>

{% endblock %}

{% block subcontent %}

<script type="text/javascript">
    active_submenu = "{{ submenu }}";
    var graph_result = {{ graph_result | tojson | safe }};
</script>

<div class="pt-4">
    <h2>{{ title }}
        {% if subtitle %}
        :
        {% endif %}
        <span class="ms-2 fw-light">{{ subtitle }}</span></h2>
    <hr>
    <div>
        <div class="pt-2 text-end">
            {% include 'criteria_map_div.html' %}
        </div>
        {% if graph_result.graph_data|length >1 %}
            <div class="pt-1 text-end">
                {% for graph_id in graph_result.graph_data %}
                {% if loop.index0 > 0 %}
                <div>
                    Jump to View: <a href="#{{ graph_id }}" class="ms-3"><span
                            id="{{ graph_id }}_anchor_text"></span> <i class="far fa-arrow-alt-circle-down"></i></a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% for graph_id in graph_result.graph_data %}
        <div id="{{ graph_id }}" class="{{ 'jump-div' if loop.index0 > 0 }}">
        <div class="small-chart col-5 border rounded-2 p-3 my-3 mx-auto">
            <div data-graph-id="{{ graph_id }}" class="btn-group btn-group-sm float-end">
                <button type="button" class="btn btn-outline-secondary d-img-btn"><i class="fas fa-download"></i>
                    Image
                </button>
                <button type="button" class="btn btn-outline-secondary d-data-btn"><i class="fas fa-download"></i>
                    Data
                </button>
            </div>
            <canvas id="{{ graph_id }}_chart"></canvas>
        </div></div>
        {% endfor %}
    </div>
</div>

{% endblock %}


