{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/build_chart_config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prevalence_som_stats.js') }}"></script>

<script type="text/javascript">
    active_submenu = 'search_tp53data';
    var graph_data = {{ graph_data | tojson | safe }};
</script>

{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>tp53 Somatic Prevalence by {{subject}}</h2>
    <hr>
    <div class="p-2">
        <canvas class="col" id="som_prev_chart"></canvas>
    </div>
</div>
{% endblock %}
