{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block page_name %}404{% endblock %}
{% block content %}
<main>
    <div class="container pt-5 pb-3 text-center">
        <div class="py-5 error-code-msg">We've moved!</div>
<!--        <div class="mt-3 error-code-msg"><i class="fas fa-exclamation-triangle"></i>PAGE MOVED</div>-->
        <div class="error-code-msg fs-5">The <em>TP53</em> Database can now be found at <a href="https://tp53.cancer.gov">tp53.cancer.gov</a>.</div>
        <div class="error-code-msg fs-5">You will be forwarded to the new site in 10 seconds ...</div>
<!--        <div class="mt-5"><a class="btn btn-wide darkblue-btn" role="button" href="/">Go-->
<!--            Home</a></div>-->
    </div>
</main>
{% endblock %}