{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'refs_corner';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#pubs">Publications Highlights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#papers">Database papers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#lifraumeni">Li-Fraumeni syndrome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#polymorph">TP53 polymorphisms</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="main-panel col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>References Corner</h1>
        <div id="pubs" class="jump-div">
            <h2>Publications Highlights</h2>
            <hr>
            <div class="p-3">
                <table>
                    <tr>
                        <td><a href="tp53book">
                            <img height="200" src="{{ url_for('static', filename='img/25yrs_p53.webp') }}"
                                 alt="25 Years of p53 research"/></a>
                        </td>
                        <td><a href="tp53book2013">
                            <img src="{{ url_for('static', filename='img/p53_2013.jpeg') }}" height="200px"
                                 alt="p53 in the clinics"/></a></td>
                        <td><a target="_blank" href="https://onlinelibrary.wiley.com/doi/abs/10.1002/humu.23035">
                            <img height="200px" src="{{ url_for('static', filename='img/Ref_Bouaoun_2016.png') }}"
                                 style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/20182602">
                            <img height="200px" src="{{ url_for('static', filename='img/Ref_Olivier_2010.png') }}"></a>
                        </td>
                        <td><a target="_blank" href="https://onlinelibrary.wiley.com/doi/abs/10.1002/humu.23553">
                            <img height="200px" src="{{ url_for('static', filename='img/Ref_Fortuno_2018.png') }}"
                                 style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.nature.com/cdd/volumes/25/issues/1">
                                <img height="200px" src="{{ url_for('static', filename='img/Ref_Levine_2018.png') }}"
                                     style="float: left"></a>
                        </td>
                        <td>
                            <a target="_blank" href="https://academic.oup.com/jmcb/issue/11/3">
                                <img height="200px" src="{{ url_for('static', filename='img/Ref_JMCB_2019.png') }}"
                                     style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/30224644">
                                <img height="200px"
                                     src="{{ url_for('static', filename='img/Ref_Giacomelli_2018.png') }}"
                                     style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/29979965">
                                <img height="200px" src="{{ url_for('static', filename='img/Ref_Kotler_2018.png') }}"
                                     style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/28288132 ">
                                <img height="150px" src="{{ url_for('static', filename='img/Ref_Fischer_2017.png') }}"
                                     style="float: left"></a></td>
                    </tr>
                </table>
            </div>
            <div class="p-3">
                <table>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/30107566">
                                <img height="150px" src="{{ url_for('static', filename='img/Ref_Resnick_2018.png') }}"
                                     style="float: left"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="papers" class="jump-div">
            <h2>Database papers</h2>
            <hr>
            <div class="p-3">
                <ul>
                    <li>
                        <i>TP53 Variations in Human Cancers: New Lessons from the IARC TP53 Database and Genomics
                            Data.</i>
                        Bouaoun L, Sonkin D, Ardin M, Hollstein M, Byrnes G, Zavadil J, Olivier M. Hum Mutat.
                        <strong>2016</strong> Sep;37(9):865-76.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/27328919">PubMed</a>
                    </li>
                    <li>
                        <i>Analysis of TP53 mutation spectra reveals the fingerprint of the potent environmental
                            carcinogen,
                            aristolochic acid.</i>
                        Hollstein M, Moriya M, Grollman AP, Olivier M. Mutat Res. <strong>2013</strong>
                        Jul-Sep;753(1):41-9.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/23422071">PubMed</a>
                    </li>
                    <li>
                        <i>Sarcomas in TP53 germline mutation carriers: a review of the IARC TP53 database.</i>
                        Ognjanovic S, Olivier M, Bergemann TL, Hainaut P. Cancer <strong>2012</strong> Mar
                        1;118(5):1387-96.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/21837677">PubMed</a>
                    </li>
                    <li>
                        <i>TP53 mutations in human cancers: origins, consequences, and clinical use.</i>
                        Olivier M, Hollstein M, Hainaut P. Cold Spring Harb Perspect Biol <strong>2010</strong>
                        Jan;2(1):a001008.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/20182602">PubMed</a>
                    </li>
                    <li>
                        <i>TP53 mutations in human cancers: functional selection and impact on cancer prognosis and
                            outcomes.</i>
                        Petitjean A, Achatz MI, Borresen-Dale AL, Hainaut P, Olivier M. Oncogene. <strong>2007</strong>
                        Apr
                        2;26(15):2157-65.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/17401424">PubMed</a>
                    </li>
                    <li>
                        <i>Impact of mutant p53 functional properties on TP53 mutation patterns and tumor phenotype:
                            lessons
                            from recent developments in the IARC TP53 database.</i>
                        Petitjean A, Mathe E, Kato S, Ishioka C, Tavtigian SV, Hainaut P, Olivier M. Hum Mutat.
                        <strong>2007</strong> Jun;28(6):622-9.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/17311302">PubMed</a>
                    </li>
                    <li>
                        <i>Predicting the transactivation activity of p53 missense mutants using a four-body potential
                            score
                            derived from Delaunay tessellations. </i>
                        Mathe, E, Olivier, M., Kato, S., Ishioka, C., Vaisman, II, Hainaut, P. Human Mutat
                        <strong>2006</strong> 27(2):163-72.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/16395672">PubMed</a>
                    </li>
                    <li>
                        <i>TP53 mutation spectra and load: a tool for generating hypotheses on the etiology of
                            cancer.</i>
                        Olivier M, Hussain SP, Caron de Fromentel C, Hainaut P, Harris CC. IARC Sci Publ.
                        <strong>2004</strong> (157):247-70.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15055300">PubMed</a>
                    </li>
                    <li>
                        <i>Li-Fraumeni and related syndromes: correlation between tumor type, family structure, and TP53
                            genotype.</i>
                        Olivier M, Goldgar DE, Sodha N, Ohgaki H, Kleihues P, Hainaut P, Eeles RA. Cancer Res.
                        <strong>2003</strong> Oct 15;63(20):6643-50.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/14583457">PubMed</a>
                    </li>
                    <li>
                        <i>Integrating mutation data and structural analysis of the TP53 tumor-suppressor protein.</i>
                        Martin AC, Facchiano AM, Cuff AL, Hernandez-Boussard T, Olivier M,Hainaut P, Thornton JM. Hum
                        Mutat
                        <strong>2002</strong> Feb;19(2):149-64.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11793474">PubMed</a>
                    </li>
                    <li>
                        <i>The IARC TP53 Database: new online mutation analysis and recommendations to users.</i>
                        Olivier M, Eeles R, Hollstein M, Khan MA, Harris C.C, Hainaut P. Hum Mutat.
                        <strong>2002</strong>
                        Jun;19(6):607-14.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/12007217">PubMed</a>
                    </li>
                    <li>
                        <i>TP53 mutation spectrum in lung cancers and mutagenic signature of components of tobacco
                            smoke:
                            lessons from the IARC TP53 mutation database.</i>
                        Hainaut P, Olivier M, Pfeifer GP. Mutagenesis <strong>2001</strong> Nov;16(6):551-3; author
                        reply
                        555-6
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11682648">PubMed</a>
                    </li>
                    <li>
                        <i>TP53 mutation patterns in breast cancers: searching for clues of environmental
                            carcinogenesis. </i>
                        Olivier M, Hainaut P. Semin Cancer Biol <strong>2001</strong> Oct;11(5):353-360.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11562177">PubMed</a>
                    </li>
                    <li>
                        <i>p53 and human cancer: the first ten thousand mutations.</i>
                        Hainaut P., Hollstein M. Adv Cancer Res. <strong>2000</strong> 77:81-137
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/10549356">PubMed</a>
                    </li>
                    <li>
                        <i>Sources of bias in the detection and reporting of p53 mutations in human cancer: analysis of
                            the
                            IARC p53 mutation database.</i>
                        Hernandez-Boussard T, Montesano R, Hainaut P. Genet Anal. <strong>1999</strong>
                        Feb;14(5-6):229-33.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/10084119">PubMed</a>
                    </li>
                    <li>
                        <i>IARC p53 mutation database: a relational database to compile and analyze p53 mutations in
                            human
                            tumors and cell lines. International Agency for Research on Cancer.</i>
                        Hernandez-Boussard T, Rodriguez-Tome P, Montesano R, Hainaut P. Hum Mutat. <strong>1999</strong>;14(1):1-8.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/10447253">PubMed</a>
                    </li>
                    <li>
                        <i>A specific spectrum of p53 mutations in lung cancer from smokers: review of mutations
                            compiled in
                            the IARC p53 database. </i>
                        Hernandez-Boussard TM, Hainaut P. Environ Health Perspect. <strong>1998</strong>
                        Jul;106(7):385-91.
                        Erratum in: Environ Health Perspect 1998 Sep;106(9):A 421
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/9637795">PubMed</a>
                    </li>
                    <li>
                        <i>IARC Database of p53 gene mutations in human tumors and cell lines: updated compilation,
                            revised
                            formats and new visualisation tools.</i>
                        Hainaut P, Hernandez T, Robinson A, Rodriguez-Tome P, Flores T, Hollstein M, Harris CC,
                        Montesano R.
                        Nucleic Acids Res. <strong>1998</strong> Jan 1;26(1):205-13.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/9399837">PubMed</a>
                    </li>
                    <li>
                        <i>Database of p53 gene somatic mutations in human tumors and cell lines: updated compilation
                            and
                            future prospects.</i>
                        Hainaut P, Soussi T, Shomer B, Hollstein M, Greenblatt M, Hovig E, Harris CC, Montesano R. <br>
                        Nucleic Acids Res. <strong>1997</strong> Jan 1;25(1):151-7.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/9016527">PubMed</a>
                    </li>
                    <li>
                        <i>Somatic point mutations in the p53 gene of human tumors and cell lines: updated
                            compilation.</i>
                        Hollstein M, Shomer B, Greenblatt M, Soussi T, Hovig E, Montesano R, Harris CC. Nucleic Acids
                        Res.
                        <strong>1996</strong> Jan 1;24(1):141-6.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/8594564">PubMed</a>
                    </li>
                    <li>
                        <i>Database of p53 gene somatic mutations in human tumors and cell lines.</i>
                        Hollstein M, Rice K, Greenblatt MS, Soussi T, Fuchs R, Sorlie T, Hovig E, Smith-Sorensen B,
                        Montesano R, Harris CC. Nucleic Acids Res <strong>1994</strong> Sep;22(17):3551-5.
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/7937055">PubMed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="lifraumeni" class="jump-div">
            <h2>Li-Fraumeni Syndrome</h2>
            <hr>
            <div class="p-3">
                <div>Inherited TP53 mutations are associated with a rare autosomal dominant disorder, the <strong>Li-Fraumeni
                    syndrome (LFS)</strong>.
                    LFS is characterized by multiple primary neoplasms in children and young adults, with a predominance
                    of
                    soft-tissue sarcomas, osteosarcomas,
                    breast cancers, brain tumors and adrenocortical carcinomas.
                </div>
                <div class="pt-3">Several clinical definitions of LFS have been proposed.
                </div>
                <div class="p-3">
                    <div>The <strong>classic Li-Fraumeni syndrome (LFS)</strong> (<a
                            target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/3409256">Li et al., 1988</a>) is
                        defined by presence of all of the following criteria:
                    </div>
                    <div class="pt-2">
                        <ul>
                            <li>A proband with a sarcoma diagnosed before age 45 years</li>
                            <li>A first-degree relative with any cancer before age 45 years</li>
                            <li>A first- or second-degree relative with any cancer before age 45 years or a sarcoma at
                                any
                                age [Li et al 1988]
                            </li>
                        </ul>
                    </div>

                    <div>The <strong>Chompret criteria</strong> (updated in <a target="_blank"
                                                                               href="https://www.ncbi.nlm.nih.gov/pubmed/26014290">Bougeard
                        et al., 2015)</a> should be used to identify potential TP53 mutation carriers:
                    </div>
                    <div class="pt-2">
                        <ul>
                            <li><strong>Familial presentation</strong>: Proband with tumor belonging to LFS tumor
                                spectrum
                                (eg,
                                premenopausal
                                breast cancer, soft tissue sarcoma, osteosarcoma, CNS tumor,
                                adrenocortical carcinoma) before age 46 years, <strong>AND</strong> at least one first
                                or
                                second-degree
                                relative with LFS tumor (except breast cancer if proband has breast cancer) before
                                age 56 years or with multiple tumors
                            </li>
                            <li><strong>Multiple primary tumors</strong>: Proband with multiple tumors (except multiple
                                breast
                                tumors), two
                                of which belong to LFS tumor spectrum and first of which occurred
                                before age 46 years
                            </li>
                            <li><strong>Rare tumors</strong>: Patient with adrenocortical carcinoma, choroid plexus
                                tumor,
                                or
                                rhabdomyosarcoma of embryonal anaplastic subtype, irrespective of family history
                            </li>
                            <li><strong>Early-onset breast cancer</strong>: Breast cancer before age 31 yr</li>
                        </ul>
                    </div>
                </div>
                <div class="pt-3">Data on Li-Fraumeni associated TP53 mutations can be searched <a
                        href="#">here</a>.
                </div>
                <div class="pt-3">To learn more on LFS and TP53 germline mutations, see <a target="_blank"
                                                                                           href="https://www.ncbi.nlm.nih.gov/books/NBK1311/">
                    GeneReviews</a> and the videocast of the <a target="_blank"
                                                                href="https://videocast.nih.gov/summary.asp?Live=9741">Li-Fraumeni
                    Syndrome Workshop 2010</a>.
                </div>
            </div>
            <div class="p-3">
                <h3>Publications of interest:</h3>
                <div class="pt-2">
                    <ul>
                        <li>
                            <i>Concern regarding classification of germline TP53 variants as likely pathogenic.</i>
                            Evans DG, Turnbull C, Woodward ER. <strong>2019</strong> Jun;40(6):828-831. <a
                                href="{{ url_for('static', filename='download/Evans_et_al-2019-Human_Mutation.pdf') }}"
                                target="_blank">Article</a>
                        </li>
                        <li>
                            <i>Bayesian estimation of a semiparametric recurrent event model with applications to the
                                penetrance
                                estimation of multiple primary cancers in Li-Fraumeni syndrome.</i>
                            Shin SJ, Li J, Ning J, Bojadzieva J, Strong LC, Wang W. <strong>2018</strong> Nov 14. <a
                                href="{{ url_for('static', filename='download/Evans_et_al-2019-Human_Mutation.pdf') }}"
                                target="_blank">Article</a>
                        </li>
                        <li>
                            <i>Baseline Surveillance in Li-Fraumeni Syndrome Using Whole-Body Magnetic Resonance
                                Imaging, A
                                Meta-analysis.</i>
                            Ballinger ML, Best A, Mai PL, Khincha PP, Loud JT, Peters JA, Achatz MI, Chojniak R,
                            Balieiro da
                            Costa A, Santiago KM, Garber J, O'Neill AF, Eeles RA, Evans DG, Bleiker E, Sonke GS, Ruijs
                            M,
                            Loo C, Schiffman J, Naumer A, Kohlmann W, Strong LC, Bojadzieva J, Malkin D, Rednam SP,
                            Stoffel
                            EM,
                            Koeppe E, Weitzel JN, Slavin TP, Nehoray B, Robson M, Walsh M, Manelli L, Villani A, Thomas
                            DM,
                            Savage
                            SA. <strong>2017</strong> Dec 1;3(12):1634-1639.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/28772291">PubMed</a>
                        </li>
                        <li>
                            <i>Cancer Screening Recommendations for Individuals with Li-Fraumeni Syndrome.</i> Kratz CP,
                            Achatz
                            MI, Brugières L, Frebourg T, Garber JE, Greer MC, Hansford JR, Janeway KA,
                            Kohlmann WK, McGee R, Mullighan CG, Onel K, Pajtler KW, Pfister SM, Savage SA, Schiffman JD,
                            Schneider KA, Strong LC, Evans DGR, Wasserman JD, Villani A, Malkin D. <strong>2016</strong>
                            Jun
                            1;23(11):e38-e45.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/28572266">PubMed</a>
                        </li>
                        <li>
                            <i>Risks of first and subsequent cancers among TP53 mutation carriers in the National Cancer
                                Institute Li-Fraumeni syndrome cohort.</i> Mai PL, Best AF, Peters JA, DeCastro RM,
                            Khincha
                            PP,
                            Loud JT, Bremer RC, Rosenberg PS, Savage SA.
                            <strong>2016</strong> Dec 1;122(23):3673-3681.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/27496084">PubMed</a>
                        </li>
                        <li>
                            <i>Revisiting Li-Fraumeni Syndrome From TP53 Mutation Carriers.</i>
                            Bougeard G, Renaux-Petel M, Flaman JM, Charbonnier C, Fermey P, Belotti M, Gauthier-Villars
                            M,
                            Stoppa-Lyonnet D, Consolino E, Brugières L, Caron O, Benusiglio PR, Bressac-de Paillerets B,
                            Bonadona V, Bonaiti-Pellie C, Tinat J, Baert-Desurmont S, Frebourg T. J Clin Oncol.
                            <strong>2015</strong> Jul 20;33(21):2345-52.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/26014290">PubMed</a>
                        </li>
                        <li>
                            <i>Breast cancer phenotype in women with TP53 germline mutations: a Li-Fraumeni syndrome
                                consortium effort.</i>
                            Masciari S, Dillon DA, Rath M, Robson M, Weitzel JN, Balmana J, Gruber SB, Ford JM, Euhus D,
                            Lebensohn A, Telli M, Pochebit SM, Lypas G, Garber JE. Breast Cancer Res Treat.
                            <strong>2012</strong> Jun;133(3):1125-30.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/22392042">PubMed</a>
                        </li>
                        <li>
                            <i>Sarcomas in TP53 germline mutation carriers: a review of the IARC TP53 database.</i>
                            Ognjanovic S, Olivier M, Bergemann TL, Hainaut P. Cancer <strong>2012</strong> Mar
                            1;118(5):1387-96.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/21837677">PubMed</a>
                        </li>
                        <li>
                            <i>Impact of the MDM2 SNP309 and p53 Arg72Pro polymorphism on age of tumour onset in
                                Li-Fraumeni
                                syndrome.</i>
                            Bougeard G, Baert-Desurmont S, Tournier I, Vasseur S, Martin C, Brugieres L, Chompret A,
                            Bressac-de Paillerets B, Stoppa-Lyonnet D, Bonaiti-Pellie C, Frebourg T. J Med Genet.
                            <strong>2006</strong>
                            Jun;43(6):531-3.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/16258005">PubMed</a>
                        </li>
                        <li>
                            <i>Beyond Li Fraumeni Syndrome: clinical characteristics of families with p53 germline
                                mutations.</i>
                            Gonzalez KD, Noltner KA, Buzin CH, Gu D, Wen-Fong CY, Nguyen VQ, Han JH, Lowstuter K,
                            Longmate
                            J, Sommer SS, Weitzel JN. J Clin Oncol. <strong>2009</strong> Mar 10;27(8):1250-6.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/19204208">PubMed</a>
                        </li>
                        <li>
                            <i>A single nucleotide polymorphism in the MDM2 promoter attenuates the p53 tumor suppressor
                                pathway and accelerates tumor formation in humans.</i>
                            Bond GL, Hu W, Bond EE, Robins H, Lutzker SG, Arva NC, Bargonetti J, Bartel F, Taubert H,
                            Wuerl
                            P, Onel K, Yip L, Hwang SJ, Strong LC, Lozano G, Levine AJ. Cell <strong>2004</strong> Nov
                            24;119(5):591-602.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15550242">PubMed</a>
                        </li>
                        <li>
                            <i>Li-Fraumeni and related syndromes: correlation between tumor type, family structure, and
                                TP53
                                genotype.</i>
                            Olivier M, Goldgar DE, Sodha N, Ohgaki H, Kleihues P, Hainaut P, Eeles RA. Cancer Res.
                            <strong>2003</strong> Oct 15;63(20):6643-50.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/14583457">PubMed</a>
                        </li>
                        <li>
                            <i>Germline TP53 mutations and Li-Fraumeni syndrome.</i>
                            Varley JM. Hum Mutat <strong>2003</strong> Mar;21(3):313-20.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/12619118">PubMed</a>
                        </li>
                        <li>
                            <i>Relative frequency and morphology of cancers in carriers of germline TP53 mutations.</i>
                            Birch JM, Alston RD, McNally RJ, Evans DG, Kelsey AM, Harris M, Eden OB, Varley JM. Oncogene
                            <strong>2001</strong> Aug 2;20(34):4621-8.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11498785">PubMed</a>
                        </li>
                        <li>
                            <i>Cancer phenotype correlates with constitutional TP53 genotype in families with the
                                Li-Fraumeni
                                syndrome.</i>
                            Birch JM, Blair V, Kelsey AM, Evans DG, Harris M, Tricker KJ, Varley JM. Oncogene.
                            <strong>1998</strong> Sep 3;17(9):1061-8.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/9764816">PubMed</a>
                        </li>
                        <li>
                            <i>Li-Fraumeni syndrome--a molecular and clinical review.</i>
                            Varley JM, Evans DG, Birch JM. Br J Cancer. <strong>1997</strong>;76(1):1-14.
                            <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/9218725">PubMed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="polymorph" class="jump-div">
            <h2>TP53 Polymorphisms</h2>
            <hr>
            <div class="p-3">
                <p>For the most systematic review on TP53 polymorphisms and their functional and clinical consequences,
                    see
                    <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/19165225">Whibley et al., 2009</a>.
                    However, please note that this review is not up to date, in particular regarding two variants, V217M
                    (rs35163653) and G360A (rs35993958), that are not frequent SNP based on most recent studies and thus
                    are not considered as validated polymorphisms in the IARC database.</p>
                <p>A recent study based on the analysis of large sets of genomic data showed that commonly inherited
                    <strong>genetic variants in the p53 pathway </strong> affect the incidence of a broad range of
                    cancers
                    more than variants in other pathways
                    (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/27009395">Stracquadanio et al,
                        2016)</a>.
                </p>
                <p>Most of TP53 polymorphisms are located in introns, outside consensus splicing sites. The functional
                    consequences of most of these SNPs is unknown.
                    Theoretically, they may affect p53 protein function through enhanced mutability due to altered DNA
                    sequence context, increased cryptic splicing events,
                    altered transcript stability or translation or tissue-specific expression (<a target="_blank"
                                                                                                  href="https://www.ncbi.nlm.nih.gov/pubmed/1848986">Lozano
                        1991</a>,
                    <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/7888751">Mattick 1994</a>).
                    It was shown that the p53 regulatory protein MDM2, that regulate p53 through protein-protein
                    interactions, also binds to p53 mRNA and facilitate its translation.
                    Specific silent mutations in TP53 abrogated this regulation, suggesting that synonymous
                    polymorphisms
                    could affect p53 function through this new mechanism (<a target="_blank"
                                                                             href="https://www.ncbi.nlm.nih.gov/pubmed/19160491">Candeias,
                        2008</a>).
                </p>

                <p>A list of variants frequent in healthy human populations, and thus considered as validated
                    polymorphisms
                    in the IARC database, is accessible <a id="displayValidatedPolymorphisms" href="#">here</a>.</p>

                <p>Among validated polymorphisms, a few have been studied in relation to cancer risk or functional
                    impact.
                    Some knowledge on these polymorphisms is provided here.</p>

                <ul>

                    <li><a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=17878362" target="_blank">rs17878362:
                        intron
                        3 duplication</a></li>
                    <p>This variant has been found to be associated with increased risk of colorectal cancer in a
                        case-control study and correlated with a
                        reduced level of TP53 mRNA in lymphoblastoid cell-lines (<a target="_blank"
                                                                                    href="https://www.ncbi.nlm.nih.gov/pubmed/14647431">Gemignani
                            2004</a>).
                        However, because of a strong linkage disequilibrium between the intron 3 duplication and the
                        codon
                        72 variant, it can not been determined from these experiments whether
                        the intron 3 duplication alone influences mRNA stability or if this effect requires the Pro
                        codon 72
                        variant. A meta-analysis by <a target="_blank"
                                                       href="https://www.ncbi.nlm.nih.gov/pubmed/23412385">Sagne
                            et al., (2013)</a>
                        suggests that rs17878362 is associated with cancer risk, with population and tumour-specific
                        effects. This polymorphism overlaps a G-quadruplex structure that modulate p53 mRNA splicing and
                        stability <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/25269805">(Perriaud,
                            2014)</a>.
                    </p>
                    <li><a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=1800371" target="_blank">rs1800371:
                        Pro47Ser</a></li>
                    <p>The <strong> P47S </strong> variant is a rare polymorphism affecting a codon conserved in
                        evolution.
                        The serine 47 polymorphic variant, which replaces the proline residue necessary for recognition
                        by
                        proline-directed kinases (p38 MAPK), is a markedly poorer substrate for phosphorylation on
                        serine 46
                        by p38 MAPK.
                        This property correlate with a report that suggested that this polymorphism is functionally
                        significant and show a decrease ability to transactivate two p53 target-genes, p53AIP1 and PUMA,
                        but
                        not other p53 response genes, and to induce apoptosis
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15851479">Li et al., 2005</a>). A
                        recent study showed that the Pro47Ser variant was not associated with overall breast cancer
                        risk,
                        but may increase risk among pre-menopausal women of African ancestry
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/28649645 ">Murphy et al., 2017</a>).
                    </p>
                    <li><a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=1042522" target="_blank">rs1042522:
                        Pro72Arg</a></li>
                    <p>Residue 72, although not conserved, is located within the proline-rich region and may affect the
                        structure of the putative SH3-binding domain.
                        Wild-type p53 protein with <b>Arg72</b> was reported to be more efficient in inducing apoptosis
                        than
                        its Pro variant (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/12567188">Dumont
                            2003</a>).
                        This property correlated with a greater capacity to interact with MDM2, which facilitate nuclear
                        export and mitochondrial localization. Other differences between the p53 variants have been
                        reported:
                        ability to bind components of the transcriptional machinery, to activate transcription, to
                        induce
                        apoptosis, and to repress the transformation of primary cells (<a target="_blank"
                                                                                          href="https://www.ncbi.nlm.nih.gov/pubmed/9891044">Thomas
                            1999</a>).
                        <br/>
                        The protein with <strong>Arg72</strong> was also found to be more efficiently targeted for
                        degradation by the E6 protein of HPV16, suggesting that individuals homozygous for Arg72 may be
                        at
                        higher risk of HPV-related cervical cancers (<a target="_blank"
                                                                        href="https://www.ncbi.nlm.nih.gov/pubmed/9607760">Storey
                            1998</a>).
                        However, population-based and meta-analysis studies have failed to confirm this hypothesis (<a
                                target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11535556">Klug 2001</a>, <a
                                target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/14744727">Koushik 2004</a>).&nbsp;
                        <br/>
                        <br/>
                        Sharp ethnic differences in <b>codon 72</b> allele frequencies have been observed. In the
                        Northern
                        hemisphere, the Pro72 allele shows a North-South gradient, from 0.17 in Swedish Saamis to 0.63
                        in
                        African Blacks (Nigerians)
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/7927355">Beckman 1994</a>).
                        In Western Europe (France, Sweden, Norway), North America (USA), Central and South America
                        (Mexico,
                        Costa-Rica, Peru) and Japan, the most common allele is Arg72,
                        with frequencies ranging from 0.60 to 0.83. However, frequencies of Pro72 superior to 0.40 have
                        been
                        observed in African-Americans
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/7554076">Jin 1995</a>,
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/1302561">Weston 1992</a>)
                        and in Chineses (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/11146230">Peixoto-Guimaraes
                            2001</a>,
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/10468305">Ngan 1999</a>).<br>
                        A study suggest that these latitude-dependent variations may be due to selection related to
                        winter
                        temperature and not to UV radiation as suggested by previous studies.
                        Indeed, <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/19344876">Shi et al.
                            (2009)</a>
                        observed that low average temperature, but not UV radiation, was associated with high frequency
                        of
                        Arg72 in Eastern Asia.
                        <br/>
                        <br/>
                        A recent study in mice reported that the P72R Polymorphism of p53 predisposes to besity and
                        metabolic dysfunction (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/26947067">Kung
                            2016</a>).

                        <br/>
                        <br/>
                        The polymorphic variant at <strong>codon 72</strong> has been shown to be an intragenic modifier
                        of
                        <b>mutant p53</b> behavior
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/10802655">Marin 2000</a>; <a
                                target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/29463573">Basu 2018</a>).
                        Arg72-containing allele was preferentially mutated and retained in squamous cell tumours arising
                        in
                        Arg/Pro germline heterozygotes and was more potent
                        in neutralizing p73-induced apoptosis and cooperating with EJ-Ras to transfrom cells. Other
                        studies
                        in colorectal
                        (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15548361">Schneider-Stock 2004</a>),
                        lung (<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/15905205">Nelson 2005</a>),
                        and head and neck cancers (<a target="_blank"
                                                      href="https://www.ncbi.nlm.nih.gov/pubmed/15039212">Schneider-Stock
                            2004</a>)
                        cancers have aslo found that in Arg/Pro germline heterozygotes, the Pro allele is preferentially
                        lost and the Arg allele is preferentially mutated.

                    </p>
                    <li><a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=1794287" target="_blank">rs1794287:
                        intron4,
                        g.7675519A>G (hg38)</a></li>
                    <p>This SNP was shown by <a href="https://www.ncbi.nlm.nih.gov/pubmed/20127977">Bellini et al.,
                        (2010)</a> to affect the activity of the internal promoter of TP53 controlling the production
                        of dN133p53 isoform.
                    </p>
                    <li><a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=78378222" target="_blank">rs78378222</a>
                        and
                        <a href="https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=35850753" target="_blank">rs35850753</a>
                        in
                        untranslated regions
                    </li>
                    <p>These two rare germline variants that are in linkage disequilibrium and map to the 3'-UTR of TP53
                        and
                        the 5'-UTR of the d133 isoform of TP53, respectively, have been shown to robustly associate with
                        <strong>neuroblastoma</strong> in various populations (<a target="_blank"
                                                                                  href="https://www.ncbi.nlm.nih.gov/pubmed/24634504">Diskin
                            2014</a>).
                        rs35850753: odds ratio [OR] = 2.7, 95% confidence interval [CI] = 2.0 to 3.6; rs78378222: OR =
                        2.3,
                        95% CI = 1.8 to 2.9.
                    </p>

                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock %}
