{% extends "base.html" %}
{% block title %}Release Notes{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'release_notes';
</script>

{% endblock %}

{% block content %}
<main class="bg-white">
    <div class="page-banner">
        <div class="container">
            <h1 class="fw-bold p-2 my-0">Release Notes</h1>
        </div>
    </div>
    <div class="container">
        <div class="p-2">
            <div class="mt-3">
                <h2>March 2022 (R20)</h2>
                <div>
                    <div>[Enhancements and New Features]</div>
                    <ul>
                        <li>Label "Sample" is replaced to "Tumor" in <strong>Search Germline Variant</strong> form for clarity.</li>
                        <li>Terminology "Somatic Variant" is changed to "Tumor Variant"</li>
                        <li><strong>Search germline variant</strong> will perform queries against all data regardless of the <samp>carrier</samp> value.</li>
                        <li>Two filters, <strong>Confirmed or Obligate Carriers Only</strong> and <strong>Cancer-Affected Individuals Only</strong>,
                            are added to <strong>Search Germline Variant</strong> under <strong>Individual and Pedigree tab</strong>.</li>
                        <li>SpliceAI scores have been added to functional/structural data, germline variant, and tumor(somatic) variant search.</li>
                        <li>PubMed links are added to the germline and tumor(somatic) variant search results.</li>
                        <li>Various JavaScript libraries have been updated for security purpose.</li>
                    </ul>
                    <div>[Bug Fixes]</div>
                    <ul>
                        <li>Downloads preview: resolved symbol display issue.</li>
                    </ul>
                </div>
                <h2>October 2021 (R20)</h2>
                <div>
                    <div>[Initial build release]</div>
                    <ul>
                        <li>Oct 25, 2021: The <em>TP53</em> database web application was successfully transferred from IARC to US National Cancer Institute (NCI) with data R20.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
