{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'search_gene_by_mut';
</script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>Search <em>TP53</em> by Mutation Features</h2>
    <hr>
    <div id="search_tp53_gmut" class="p-3">
        <div class="p-3 bg-light rounded-2">
            <form action="{{ url_for('results_gene_mut_by_mut') }}" method="POST" id="mutationSearchFormForm">
                {% with id_prefix='gmut' %}
                {% include 'form_fields_mutation.html' %}
                {% endwith %}
                <div class="form-group row">
                    <div class="col-sm-11">
                        <div class="text-end">
                            <button type="reset" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Reset</button>
                            <button type="submit" class="btn btn-outline-primary "><i class="fas fa-search"
                                                                                      style="margin-right: 5px;"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
