{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'search_somatic_prevalence';
</script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>Search Somatic Mutation Prevalence Data</h2>
    <hr>
    <div id="search_somatic_prev" class="p-3">
        <div class="p-3 bg-light rounded-2">
            <form action="{{ url_for('results_somatic_prevalence') }}" method="POST" id="mutationSearchFormForm">
                {% with id_prefix='mut_prev' %}
                {% include 'form_fields_topo_morph.html' %}
                {% include 'form_fields_method.html' %}
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-3 pt-0">
                        <button class="btn btn-sm pe-0" type="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Whole genome or whole exome sequencing study.">
                            <i class="far fa-question-circle"></i>
                        </button>
                        NGS Study
                    </legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_ngs"
                                   value="Yes"
                                   id="{{ id_prefix }}_ngs_yes">
                            <label class="form-check-label"
                                   for="{{ id_prefix }}_ngs_yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ id_prefix }}_ngs"
                                   value="No"
                                   id="{{ id_prefix }}_ngs_no">
                            <label class="form-check-label"
                                   for="{{ id_prefix }}_ngs_no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-3 pt-0">
                        <button class="btn btn-sm pe-0" type="button" data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Country/Region in which the patient was living at the time of surgery. When not otherwise
                                specified in the original publication, the country corresponding to the address of the hospital
                                is entered.">
                            <i class="far fa-question-circle"></i>
                        </button>
                        Country/Region
                    </legend>
                    <div class="col-sm-6 col-md-7">
                        <select name="{{ id_prefix }}_country_list" class="form-control chosen-select"
                                id="{{ id_prefix }}_country_input"
                                data-placeholder="Choose Countries..."
                                aria-label="Country or Population List" multiple>
                            {% for country in country_list %}
                            <option value="{{ country.label }}">{{ country.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 col-md-2 text-start">
                        <a href="javascript:void(0);" class="clear-all-select small-font"><i class="far fa-times-circle"></i>
                            Clear All</a>
                        <br>
                        <a href="javascript:void(0);" class="add-all-select small-font"><i class="far fa-check-circle"></i>
                            Add All</a>
                    </div>
                </fieldset>
                {% endwith %}
                <div class="form-group row pt-5">
                    <div class="col">
                        <div class="btn-toolbar float-end" role="toolbar"
                             aria-label="Somatic Mutation Search Button Toolbar">
                            <div class="btn-group me-2" role="group" aria-label="Reset button group">
                                <button type="reset" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Reset</button>
                            </div>
                            <!--<button type="submit" class="btn btn-outline-primary "><i-->
                            <!--class="fas fa-search"-->
                            <!--style="margin-right: 5px;"></i>Search-->
                            <!--</button>-->
                            <div class="btn-group" role="group"
                                 aria-label="Distribution button group">
                                <button type="submit" name="action" value="get_country_graph" class="btn btn-outline-primary"><i class="fas fa-chart-bar"></i>
                                    Country Graph
                                </button>
                                <button type="submit" name="action" value="get_topo_graph" class="btn btn-outline-primary"><i class="fas fa-chart-bar"></i>
                                    Topography Graph
                                </button>
                                <button type="submit" name="action" value="get_morph_graph" class="btn btn-outline-primary"><i class="fas fa-chart-bar"></i>
                                    Morphology Graph
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group row">-->
                    <!--<div class="col-sm-11">-->
                        <!--<div class="text-end">-->
                            <!--<button type="reset" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Reset</button>-->
                            <!--<button type="submit" class="btn btn-outline-primary "><i class="fas fa-search"-->
                                                                                      <!--style="margin-right: 5px;"></i>Search-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
