{% extends "tp53data.html" %}
{% block title %}Data Explorer: Selected Statistics on Germline Variants{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'stats_germline_mut';
</script>


{% endblock %}

{% block subcontent %}
<div class="page-banner">
    <div class="container">
        <h1 class="fw-bold p-2 my-0">Selected Statistics on Germline Variant Data</h1>
    </div>
</div>
<div class="container">
    <div id="stats_germline_mut" class="p-2 my-3">
        <div>For details on dataset contents and annotations, see the <a href="help">user
            manual</a>.
        </div>
        <div class="col-lg-5 col-md-10">
            <ul class="list-group list-group-flush pt-3">
                <a href="get_distribution?action=get_codon_dist&query_dataset=GermlineView"
                   class="list-group-item list-group-item-action">
                    Codon Distribution of Variants</a>
                <a href="get_distribution?action=get_mutation_dist&query_dataset=GermlineView"
                   class="list-group-item list-group-item-action">
                    Variant Distributions</a>
                <a href="get_distribution?action=get_tumor_dist&query_dataset=GermlineView"
                   class="list-group-item list-group-item-action">
                    Tumor Site Distributions</a>
                <a href="view_germline_prevalence" class="list-group-item list-group-item-action">
                    Prevalence of <em>TP53</em> Germline Variants in Selected Cohorts</a>
                <a href="db_dev_germline_stats" class="list-group-item list-group-item-action">
                    Statistics on Dataset Development</a>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
