{% extends "tp53data.html" %}
{% block title %}TP53 Database: Selected Statistics on Somatic Variant Data{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block subcontent %}

<div class="page-banner">
    <div class="container">
        <h1 class="fw-bold p-2 my-0">Selected Statistics on Somatic Variant Data</h1>
    </div>
</div>
<div class="container">
    <div id="stats_germline_mut" class="p-2 my-3">
        <div>This dataset includes <em>TP53</em> somatic variants reported in primary
            tissues, body fluids and cell-lines.<br>For more details on dataset contents and annotations, see the <a
                    href="/help">User Manual</a>.
        </div>
        <div class="col-lg-4 col-md-10">
            <ul class="list-group list-group-flush pt-3">
                <a href="/get_distribution?action=get_mutation_dist&query_dataset=Somatic"
                   class="list-group-item list-group-item-action submit-link">
                    Variant Distributions</a>
                <a href="/get_distribution?action=get_tumor_dist&query_dataset=Somatic"
                   class="list-group-item list-group-item-action submit-link">
                    Tumors Site Distributions</a>
                <a href="/prevalence_somatic_stats"
                   class="list-group-item list-group-item-action submit-link">
                    <em>TP53</em> Somatic Prevalence by Tumor Site</a>
                <a href="/prognosis_somatic_stats"
                   class="list-group-item list-group-item-action submit-link">
                    Prognostic Value of Somatic Variants</a>
                <a href="/db_dev_somatic_stats"
                   class="list-group-item list-group-item-action submit-link">
                    Statistics on Dataset Development</a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
