{% extends "tp53data.html" %}
{% block title %}Data Explorer: Selected Statistics on Germline Variants{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'stats_germline_mut';
</script>


{% endblock %}

{% block subcontent %}
<div class="page-banner text-center">
    <h2 class="pb-3 my-0 fw-normal">Selected Statistics on Germline Variant Data</h2>
</div>
<div id="stats_germline_mut" class="py-5">
    <div class="mx-auto col-lg-6 col-md-10">
        <div class="text-secondary">For details on dataset contents and annotations, see the <a href="help">user's
            manual</a>.
        </div>
        <ul class="list-group list-group-flush pt-3">
            <a href="get_distribution?action=get_codon_dist&query_dataset=GermlineVariant" class="list-group-item list-group-item-action">
                <i class="fas fa-chart-bar me-2"></i>Codon Distribution of Variants</a>
            <a href="get_distribution?action=get_mutation_dist&query_dataset=GermlineVariant" class="list-group-item list-group-item-action"><i
                    class="fas fa-chart-bar me-2"></i>Variant Distributions</a>
            <a href="get_distribution?action=get_tumor_dist&query_dataset=GermlineVariant" class="list-group-item list-group-item-action"><i
                    class="fas fa-chart-bar me-2"></i>Tumor Site Distributions</a>
            <a href="view_germline_prevalence" class="list-group-item list-group-item-action"><i
                    class="fas fa-table me-2"></i>Prevalence of <em>TP53</em> Germline Variants in Selected Cohorts</a>
            <a href="db_dev_germline_stats" class="list-group-item list-group-item-action"><i
                    class="fas fa-database me-2"></i>Statistics on Dataset Development</a>
        </ul>
    </div>

</div>
{% endblock %}
