{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'stats_cell_lines';
</script>


{% endblock %}

{% block subcontent %}
<div class="page-banner text-center">
    <h2 class="pt-1 pb-3 my-0 fw-normal">Selected Statistics on Cell Lines Data</h2>
</div>
<div id="stats_cell_lines" class="py-5">
    <div class="mx-auto col-lg-6 col-md-10">
        <div class="text-secondary">Please note that cell-line data are also included in the dataset of somatic
            mutations.
        </div>
        <ul class="list-group list-group-flush pt-3">
            <a href="cell_lines_mutation_stats?action=get_tumor_dist" class="list-group-item list-group-item-action"><i
                    class="fas fa-chart-bar me-2"></i>Tumor Site Distributions</a>
            <a href="cell_lines_mutation_stats?action=get_mutation_type" class="list-group-item list-group-item-action"><i
                    class="fas fa-chart-bar me-2"></i>Type of Mutations</a>
            <a href="cell_lines_mutation_stats?action=get_codon_dist" class="list-group-item list-group-item-action"><i
                    class="fas fa-chart-bar me-2"></i>Codon Distribution of Mutations</a>
        </ul>
    </div>
</div>
{% endblock %}
