{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'help';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
    <main class="main-panel col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>List of Topographies</h1>
        <div class="pt-5">
            <p> Tumor sites are classified according to the International Classification of Diseases
                for Oncology, <a target="_blank" href="http://www.who.int/classifications/icd/adaptations/oncology/en/">ICD-O
                    3rd Edition</a>,
                World Health Organization, Geneva, 2000.
            </p>


            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Topo_code</th>
                    <th>Topography</th>
                    <th>Short_topo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>C00</td>
                    <td>LIP (excludes Skin of lip )</td>
                    <td>LIP</td>
                </tr>
                <tr>
                    <td>C00-C14</td>
                    <td>HEAD&amp;NECK, NOS</td>
                    <td>HEAD&amp;NECK, NOS</td>
                </tr>
                <tr>
                    <td>C01</td>
                    <td>BASE OF TONGUE</td>
                    <td>TONGUE (base)</td>
                </tr>
                <tr>
                    <td>C02</td>
                    <td>OTHER AND UNSPECIFIED PARTS OF TONGUE</td>
                    <td>TONGUE (other)</td>
                </tr>
                <tr>
                    <td>C03</td>
                    <td>GUM</td>
                    <td>GUM</td>
                </tr>
                <tr>
                    <td>C04</td>
                    <td>FLOOR OF MOUTH</td>
                    <td>MOUTH (floor)</td>
                </tr>
                <tr>
                    <td>C05</td>
                    <td>PALATE</td>
                    <td>PALATE</td>
                </tr>
                <tr>
                    <td>C06</td>
                    <td>OTHER AND UNSPECIFIED PARTS OF MOUTH</td>
                    <td>MOUTH (other)</td>
                </tr>
                <tr>
                    <td>C07</td>
                    <td>PAROTID GLAND</td>
                    <td>PAROTID GLAND</td>
                </tr>
                <tr>
                    <td>C08</td>
                    <td>OTHER AND UNSPECIFIED MAJOR SALIVARY GLANDS</td>
                    <td>SALIVARY GLAND</td>
                </tr>
                <tr>
                    <td>C09</td>
                    <td>TONSIL</td>
                    <td>TONSIL</td>
                </tr>
                <tr>
                    <td>C10</td>
                    <td>OROPHARYNX</td>
                    <td>OROPHARYNX</td>
                </tr>
                <tr>
                    <td>C11</td>
                    <td>NASOPHARYNX</td>
                    <td>NASOPHARYNX</td>
                </tr>
                <tr>
                    <td>C12</td>
                    <td>PYRIFORM SINUS</td>
                    <td>PYRIFORM SINUS</td>
                </tr>
                <tr>
                    <td>C13</td>
                    <td>HYPOPHARYNX</td>
                    <td>HYPOPHARYNX</td>
                </tr>
                <tr>
                    <td>C14</td>
                    <td>OTHER AND ILL-DEFINED SITES IN LIP, ORAL CAVITY AND PHARYNX</td>
                    <td>OTHER HEAD&amp;NECK</td>
                </tr>
                <tr>
                    <td>C15</td>
                    <td>ESOPHAGUS</td>
                    <td>ESOPHAGUS</td>
                </tr>
                <tr>
                    <td>C15-C26</td>
                    <td>DIGESTIVE ORGANS, NOS</td>
                    <td>DIGESTIVE ORGANS, NOS</td>
                </tr>
                <tr>
                    <td>C16</td>
                    <td>STOMACH</td>
                    <td>STOMACH</td>
                </tr>
                <tr>
                    <td>C17</td>
                    <td>SMALL INTESTINE</td>
                    <td>SMALL INTESTINE</td>
                </tr>
                <tr>
                    <td>C18</td>
                    <td>COLON</td>
                    <td>COLON</td>
                </tr>
                <tr>
                    <td>C18-C20</td>
                    <td>COLORECTUM, NOS</td>
                    <td>COLORECTUM, NOS</td>
                </tr>
                <tr>
                    <td>C19</td>
                    <td>RECTOSIGMOID JUNCTION</td>
                    <td>RECTOSIGM. JUNCT.</td>
                </tr>
                <tr>
                    <td>C20</td>
                    <td>RECTUM</td>
                    <td>RECTUM</td>
                </tr>
                <tr>
                    <td>C21</td>
                    <td>ANUS AND ANAL CANAL</td>
                    <td>ANUS</td>
                </tr>
                <tr>
                    <td>C22</td>
                    <td>LIVER AND INTRAHEPATIC BILE DUCTS</td>
                    <td>LIVER</td>
                </tr>
                <tr>
                    <td>C23</td>
                    <td>GALLBLADDER</td>
                    <td>GALLBLADDER</td>
                </tr>
                <tr>
                    <td>C24</td>
                    <td>OTHER AND UNSPECIFIED PARTS OF BILIARY TRACT</td>
                    <td>BILIARY TRACT</td>
                </tr>
                <tr>
                    <td>C25</td>
                    <td>PANCREAS</td>
                    <td>PANCREAS</td>
                </tr>
                <tr>
                    <td>C26</td>
                    <td>OTHER AND ILL-DEFINED DIGESTIVE ORGANS</td>
                    <td>OTHER DIGESTIVE ORG.</td>
                </tr>
                <tr>
                    <td>C30</td>
                    <td>NASAL CAVITY AND MIDDLE EAR</td>
                    <td>NASAL CAVITY</td>
                </tr>
                <tr>
                    <td>C30-C39</td>
                    <td>RESPIRATORY SYSTEM AND INTRATHORACIC ORGANS, NOS</td>
                    <td>RESPIRATORY SYSTEM, NOS</td>
                </tr>
                <tr>
                    <td>C31</td>
                    <td>ACCESSORY SINUSES</td>
                    <td>SINUSES</td>
                </tr>
                <tr>
                    <td>C32</td>
                    <td>LARYNX</td>
                    <td>LARYNX</td>
                </tr>
                <tr>
                    <td>C33</td>
                    <td>TRACHEA</td>
                    <td>TRACHEA</td>
                </tr>
                <tr>
                    <td>C34</td>
                    <td>BRONCHUS AND LUNG</td>
                    <td>LUNG</td>
                </tr>
                <tr>
                    <td>C37</td>
                    <td>THYMUS</td>
                    <td>THYMUS</td>
                </tr>
                <tr>
                    <td>C38</td>
                    <td>HEART, MEDIASTINUM, AND PLEURA</td>
                    <td>HEART/MED/PLEURA</td>
                </tr>
                <tr>
                    <td>C39</td>
                    <td>OTHER AND ILL-DEFINED SITES WITHIN RESPIRATORY SYSTEM AND INTRATHORACIC
                        ORGANS
                    </td>
                    <td>OTHER RESPIR. SYST.</td>
                </tr>
                <tr>
                    <td>C40</td>
                    <td>BONES, JOINTS AND ARTICULAR CARTILAGE OF LIMBS</td>
                    <td>BONES (limbs)</td>
                </tr>
                <tr>
                    <td>C41</td>
                    <td>BONES, JOINTS AND ARTICULAR CARTILAGE OF OTHER AND UNSPECIFIED SITES</td>
                    <td>BONES (other)</td>
                </tr>
                <tr>
                    <td>C42</td>
                    <td>HEMATOPOIETIC AND RETICULOENDOTHELIAL SYSTEMS</td>
                    <td>HEMATOP. SYSTEM</td>
                </tr>
                <tr>
                    <td>C44</td>
                    <td>SKIN (excludes Skin of vulva, Skin of penis, Skin of
                        scrotum )
                    </td>
                    <td>SKIN</td>
                </tr>
                <tr>
                    <td>C47</td>
                    <td>PERIPHERAL NERVES AND AUTONOMIC NERVOUS SYSTEM</td>
                    <td>NERVES</td>
                </tr>
                <tr>
                    <td>C48</td>
                    <td>RETROPERITONEUM AND PERITONEUM</td>
                    <td>PERITONEUM</td>
                </tr>
                <tr>
                    <td>C49</td>
                    <td>CONNECTIVE, SUBCUTANEOUS AND OTHER SOFT TISSUES</td>
                    <td>SOFT TISSUES</td>
                </tr>
                <tr>
                    <td>C50</td>
                    <td>BREAST</td>
                    <td>BREAST</td>
                </tr>
                <tr>
                    <td>C51</td>
                    <td>VULVA</td>
                    <td>VULVA</td>
                </tr>
                <tr>
                    <td>C51-C58</td>
                    <td>FEMALE GENITAL ORGANS, NOS</td>
                    <td>FEMALE GENITAL ORG., NOS</td>
                </tr>
                <tr>
                    <td>C52</td>
                    <td>VAGINA</td>
                    <td>VAGINA</td>
                </tr>
                <tr>
                    <td>C53</td>
                    <td>CERVIX UTERI</td>
                    <td>CERVIX UTERI</td>
                </tr>
                <tr>
                    <td>C54</td>
                    <td>CORPUS UTERI</td>
                    <td>CORPUS UTERI</td>
                </tr>
                <tr>
                    <td>C55</td>
                    <td>UTERUS, NOS</td>
                    <td>UTERUS</td>
                </tr>
                <tr>
                    <td>C56</td>
                    <td>OVARY</td>
                    <td>OVARY</td>
                </tr>
                <tr>
                    <td>C57</td>
                    <td>OTHER AND UNSPECIFIED FEMALE GENITAL ORGANS</td>
                    <td>OTHER FEMALE GEN. ORG.</td>
                </tr>
                <tr>
                    <td>C58</td>
                    <td>PLACENTA</td>
                    <td>PLACENTA</td>
                </tr>
                <tr>
                    <td>C60</td>
                    <td>PENIS</td>
                    <td>PENIS</td>
                </tr>
                <tr>
                    <td>C60-C63</td>
                    <td>MALE GENITAL ORGANS, NOS</td>
                    <td>MALE GENITAL ORG., NOS</td>
                </tr>
                <tr>
                    <td>C61</td>
                    <td>PROSTATE GLAND</td>
                    <td>PROSTATE</td>
                </tr>
                <tr>
                    <td>C62</td>
                    <td>TESTIS</td>
                    <td>TESTIS</td>
                </tr>
                <tr>
                    <td>C63</td>
                    <td>OTHER AND UNSPECIFIED MALE GENITAL ORGANS</td>
                    <td>OTHER MALE GEN. ORG.</td>
                </tr>
                <tr>
                    <td>C64</td>
                    <td>KIDNEY</td>
                    <td>KIDNEY</td>
                </tr>
                <tr>
                    <td>C64-C68</td>
                    <td>URINARY TRACT, NOS</td>
                    <td>URINARY TRACT, NOS</td>
                </tr>
                <tr>
                    <td>C65</td>
                    <td>RENAL PELVIS</td>
                    <td>RENAL PELVIS</td>
                </tr>
                <tr>
                    <td>C66</td>
                    <td>URETER</td>
                    <td>URETER</td>
                </tr>
                <tr>
                    <td>C67</td>
                    <td>BLADDER</td>
                    <td>BLADDER</td>
                </tr>
                <tr>
                    <td>C68</td>
                    <td>OTHER AND UNSPECIFIED URINARY ORGANS</td>
                    <td>OTHER URINARY ORG.</td>
                </tr>
                <tr>
                    <td>C69</td>
                    <td>EYE AND ADNEXA</td>
                    <td>EYE AND ADNEXA</td>
                </tr>
                <tr>
                    <td>C70</td>
                    <td>MENINGES</td>
                    <td>MENINGES</td>
                </tr>
                <tr>
                    <td>C71</td>
                    <td>BRAIN</td>
                    <td>BRAIN</td>
                </tr>
                <tr>
                    <td>C72</td>
                    <td>SPINAL CORD, CRANIAL NERVES, AND OTHER PARTS OF CENTRAL NERVOUS SYSTEM</td>
                    <td>SPINAL CORD</td>
                </tr>
                <tr>
                    <td>C73</td>
                    <td>THYROID GLAND</td>
                    <td>THYROID</td>
                </tr>
                <tr>
                    <td>C73-C75</td>
                    <td>THYROID AND OTHER ENDOCRINE GLANDS, NOS</td>
                    <td>ENDOCRINE GLANDS, NOS</td>
                </tr>
                <tr>
                    <td>C74</td>
                    <td>ADRENAL GLAND</td>
                    <td>ADRENAL GLAND</td>
                </tr>
                <tr>
                    <td>C75</td>
                    <td>OTHER ENDOCRINE GLANDS AND RELATED STRUCTURES</td>
                    <td>OTHER ENDOCRINE Gl.</td>
                </tr>
                <tr>
                    <td>C76</td>
                    <td>OTHER AND ILL-DEFINED SITES</td>
                    <td>OTHER SITES</td>
                </tr>
                <tr>
                    <td>C77</td>
                    <td>LYMPH NODES</td>
                    <td>LYMPH NODES</td>
                </tr>
                <tr>
                    <td>C80</td>
                    <td>UNKNOWN PRIMARY SITE</td>
                    <td>UNKNOWN SITE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}
