{% extends "base.html" %}
{% block title %}TP53 Coding Sequence{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'resources';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<main>
    <div class="page-banner">
        <div class="container">
            <h1 class="p-2 my-0"><em>TP53</em> Coding Sequence</h1>
        </div>
    </div>
    <div class="container">
        <div class="p-2 my-3">
            <div>
                Human TP53 coding and protein sequence with exon boundaries in blue and CpG sites in red.<br/>

                Ref sequence: SwissProt <a href="https://www.uniprot.org/uniprot/P04637" target="_blank"
                                           rel="noopener noreferrer">#P04637</a>.
            </div>

            <div class="fw-light">Note that at codon position 72 (polymorphic site), CCC (Pro) is used in the new genomic
                reference sequence while CGC(Arg) is indicated here.
            </div>

            <div class="accordion mt-3" id="aminoacids">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3LCA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3LCA" aria-expanded="false" aria-controls="collapse3LCA">
                            3 Letter Code Amino-Acids
                        </button>
                    </h2>
                    <div id="collapse3LCA" class="accordion-collapse collapse" aria-labelledby="heading3LCA"
                         data-bs-parent="#aminoacids">
                        <div class="accordion-body">
                            <img src="{{ url_for('static', filename='img/p53sequence.jpg') }}"
                                 alt="p53 protein sequence"/>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1LCA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse1LCA" aria-expanded="false" aria-controls="collapse1LCA">
                            1 Letter Code Amino-Acids
                        </button>
                    </h2>
                    <div id="collapse1LCA" class="accordion-collapse collapse" aria-labelledby="heading1LCA"
                         data-bs-parent="#aminoacids">
                        <div class="accordion-body">
                            <img src="{{ url_for('static', filename='img/p53sequence2.jpg') }}"
                                 alt="p53 protein sequence"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</div>

{% endblock %}
