{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_menu = 'refs_corner';
    active_submenu = '';
</script>
{% endblock %}

{% block content %}
<div class="row">
    <nav class="bg-secondary sidebar">
    </nav>
    <main class="main-panel">
        <h1>25 Years of p53 Research</h1>

        <div class="pt-3">
            <table>
                <tr>
                    <td class="align-top pe-5">
                        <img width="150px" src="{{ url_for('static', filename='img/25yrs_p53.webp') }}"/>
                        <div class="pt-3">2005, XI, 446 p.,<br/> Hardcover ISBN:<br/> 1-4020-2920-9<br/>
                            <a href="#toc">Table of Contents</a><br/>
                            <a href="https://www.springer.com/gp/book/9781402029202"
                               target="_blank">Ordering information</a>
                        </div>
                    </td>
                    <td>
                        <p>
                            Edited by<br/>
                            <b>Pierre Hainaut</b><br/>
                            <i class="text-dark">International Agency for Research on Cancer (IARC), World Health
                                Organization, Lyon, France</i><br/>
                            <br/>
                            <b>Klas G. Wiman</b><br/>
                            <i class="text-dark">Karolinska Institute, Dept. of Oncology-Pathology, Cancer Center
                                Karolinska (CCK), Stockholm, Sweden</i><br/>
                            <br/>
                            The discovery of p53 in 1979 marks the beginning of a most fascinating era of modern cancer
                            research and molecular biology, an era that is still in full swing and
                            does not show any signs of ending in the foreseeable future. p53 has emerged as a key tumor
                            suppressor and important target for novel cancer therapy. For around 10 years, p53 was
                            considered
                            an oncogene with somewhat unusual features. However, a major paradigm shift occurred around
                            1988-89 when exciting new findings demonstrated that normal (wild type) p53 could inhibit
                            transformation
                            of cells in culture and that the p53 gene was mutated in a large fraction of human tumors.
                            In fact, p53 appeared to be the most frequently mutated gene in cancer cells. Subsequent
                            work during the 1990&#146;s showed that p53 was a transcription factor that regulates many
                            other genes, and that
                            p53 can trigger apoptosis, the suicide program of the cell. <br/>
                            <br/>
                            This book, written by world-leading p53 researchers including many of those who have shaped
                            the field over the past 25 years, provides unique insights into the progress of the p53
                            field and the prospects
                            for better cancer diagnosis and therapy the future. It should be of interest to everybody
                            working in cancer research, clinical oncology, and molecular biology, and indeed to anybody
                            interested in science,
                            medicine, as well as in recent developments of the ideas and concepts of the molecular
                            biology of cancer.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="toc" class="jump-div">
            <h2>Table of contents</h2>
            <hr>
            <div class="p-3">
                <div>
                    <strong>Chapter 1:</strong> <i>The First Twenty-Five Years of p53 Research</i>; Harlan Robins,
                    Gabriela Alexe, Sandra Harris and A.J. Levine<br/>
                    <br/>
                    <strong>Chapter 2:</strong> <i>Regulation of p53 DNA Binding</i>; Kristine McKinney and Carol
                    Prives<br/>
                    <br/>
                    <strong>Chapter 3:</strong> <i>20 Years of DNA Damage Signaling to p53</i>; Kevin G. McLure and
                    Michael B. Kastan<br/>
                    <br/>
                    <strong>Chapter 4:</strong> <i>Gatekeepers of the Guardian: p53 Regulation by Post-Translational
                    Modification, MDM2 and MDMX</i>; Geoffrey M. Wahl, Jayne M. Stommel, Kurt Krummel and Mark
                    Wade<br/>
                    <br/>
                    <strong>Chapter 5:</strong> <i>Regulation of the p53 Response by Cellular Growth and Survival
                    Factors</i>; Lauren Brown and Samuel Benchimol<br/>
                    <br/>
                    <strong>Chapter 6:</strong> <i>p53, Cell Cycle Arrest and Apoptosis</i>; Shulin Wang and Wafik
                    S. El-Deiry<br/>
                    <br/>
                    <strong>Chapter 7:</strong> <i>p53 Has a Direct Pro-apoptotic Action at the Mitochondria</i>;
                    Ute M. Moll<br/>
                    <br/>
                    <strong>Chapter 8:</strong> <i>Manipulating the p53 Gene in the Mouse: Organismal Functions of a
                    Prototype Tumor Suppressor</i>; Lawrence A. Donehower, Dora Bocangel, Melissa Dumble and
                    Guillermina Lozano<br/>
                    <br/>
                    <strong>Chapter 9:</strong> <i>p53, p63, and p73: Internecine Relations? </i>Frank McKeon and
                    Annie Yang<br/>
                    <br/>
                    <strong>Chapter 10:</strong> <i>p73, p63 and Mutant p53: Members of Protein Complexs Floating in
                    Cancer Cells</i>; Olimpia Monti, Alexander Damalas, Sabrina Strano and Giovanni Blandino<br/>
                    <br/>
                    <strong>Chapter 11:</strong> <i>p53: Gatekeeper, Caretaker or Both? </i>Carlos P. Rubbi and Jo
                    Milner<br/>
                    <br/>
                    <strong>Chapter 12:</strong> <i>Analysis of p53 Gene Alterations in Cancer: A Critical View</i>;
                    Thierry Soussi<br/>
                    <br/>
                    <strong>Chapter 13:</strong> <i>Patterns of TP53 Mutations in Human Cancer: Interplay Between
                    Mutagenesis, DNA Repair and Selection</i>; Hong Shi, Florence Le Calvez, Magali Olivier and
                    Pierre Hainaut<br/>
                    <br/>
                    <strong>Chapter 14:</strong> <i>Prognostic and Predictive Value of TP53 Mutations in Human
                    Cancer</i>; Magali Olivier, Pierre Hainaut and Anne-Lise B&oslash;rresen-Dale<br/>
                    <br/>
                    <strong>Chapter 15:</strong> <i>p53 Links Tumor Development to Cancer Therapy</i>; Michael T.
                    Hemann and Scott W. Lowe<br/>
                    <br/>
                    <strong>Chapter 16:</strong> <i>Novel p53-Based Therapies: Strategies and Future Prospects</i>;
                    Sonia Lain and David Lane<br/>
                    <br/>
                    <strong>Chapter 17:</strong> <i>Wild Type p53 Conformation, Structural Consequences of p53
                    Mutations and Mechanisms of Mutant p53 Rescue</i>; Andreas C. Joerger, Assaf Friedler and Alan
                    R. Fersht<br/>
                    <br/>
                    <strong>Chapter 18:</strong> <i>Mutant p53 Reactivation as a Novel Strategy for Cancer
                    Therapy</i>; Galina Selivanova, Vladimir J.N. Bykov and Klas G. Wiman<br/>
                    <br/>
                    <strong>Chapter 19:</strong> <i>Novel Approaches to p53-Based Therapy: ONYX-015</i>; Frank
                    McCormick<br/>
                    <br/>
                    <strong>Chapter 20:</strong> <i>p53 as Seen by an Outsider</i>; George Klein<br/>
                </div>
            </div>
        </div>

    </main>
</div>
{% endblock %}
