{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'view_mouse';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/result.js') }}"></script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>View Mouse Models</h2>
    <hr>

    <div id="view_mouse_model" class="p-3">

        <div class="text-muted pb-2">
            <div>One of the source database for curating data, the Cancer Models Database (caMOD), was retired in 2015.
                Information about many of the mouse models hosted in caMOD was obtained from
                the Jackson Laboratory Mouse Tumor Biology (MTB) Database and can be accessed through that resource at
                <a href="http://tumor.informatics.jax.org/mtbwi/index.do" target="_blank">tumor.informatics.jax.org</a>.
            </div>
        </div>

        {% if query_result.data|length %}
        <table class="table table-striped table-sm result-table clientside-processed" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Model Descriptor</th>
                <th>Targeted or Affected Organs</th>
                <th>AAChange in Human</th>
                <th>CAMOD ID</th>
                <th>PubMed</th>
            </tr>
            </thead>
            <tbody>
            {% for row in query_result.data %}
            <tr>
                <td>{{ row.ModelDescription|safe }}</td>
                <td>{{ row.TumorSites }}</td>
                <td>{{ row.AAchange }}</td>
                <td>{{ row.caMOD_ID }}</td>
                <td>
                    {% if row.PubMed %}
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ row.PubMed }}" target="_blank">{{
                        row.PubMed }}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif table.msg %}
        <div class="row">
            <div class="col-md-12 text-center"><strong>{{ table.msg|safe }}</strong>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center fw-light">No data has been found
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
