{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'view_val_poly';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/view_val_poly.js') }}"></script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>View Validated Polymorphisms</h2>
    <hr>

    <div id="view_val_poly" class="p-3">

        <div class="text-muted pb-2">
            <div>Polymorphisms listed here are variants that have been observed in unaffected human
                population at frequency > 0.001 in at least one of the following databases: 1000G, gnomAD, or ESP6500.
            </div>
        </div>
        <div id="criteria_div" class="my-2 p-1 collapse bg-light rounded-2 border border-1" data-criteria='{{ criteria|tojson }}'>
            {% if criteria|length == 0 %}
            <div class="fw-light fst-italic">None Selected</div>
            {% endif %}

            {% for criterion in criteria %}
            <span class="badge rounded-pill bg-secondary">{{ criterion.column_name }}
                {% if criterion.vals|length > 1 %}
                IN (
                    {% for val in criterion.vals %}
                        {% if loop.index0 > 0 %},{% endif %} {{ criterion.wrap_with }}{{ val }}{{ criterion.wrap_with }}
                    {% endfor %}
                )
                {% else %}
                = {{ criterion.wrap_with }}{{  criterion.vals[0] }}{{ criterion.wrap_with }}
                {% endif %}
            </span>
            {% endfor %}
        </div>
        <div class="pb-2">
            <a type="button" class="text-start btn btn-sm btn-outline-secondary"
               data-bs-toggle="collapse" href="#criteria_div" role="button" aria-expanded="false"
               aria-controls="criteria_div">
                <i class="fas fa-th-list"></i> View Selected Criteria</a>
            <a type="button" class="float-end btn btn-sm btn-outline-secondary"
               href="refs_corner#polymorph"><i class="fas fa-arrow-circle-right"></i> See Refs Corner: tp53 Polymorphism</a>
        </div>


        {% if query_result.data|length %}
        <div class="float-end">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-secondary download-btn"><i class="fas fa-download"></i> Download
                </button>
            </div>
        </div>
        <table id="val-poly-result-table" class="table table-striped table-sm result-table clientside-processed" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Genomic Description (hg38)</th>
                <th>cDNA Description</th>
                <th>Protein Description</th>
                <th>Exon Number</th>
                <th>Effect</th>
                <th>SNP Link</th>
                <th>gnomAD Link</th>
                <th>CLINVAR Link</th>
                <th>PubMed</th>
                <th>Source Databases</th>
            </tr>
            </thead>
            <tbody>
            {% for row in query_result.data %}
            <tr>
                <td>{{ row.g_description_GRCh38 }}</td>
                <td>{{ row.c_description }}</td>
                <td>{{ row.ProtDescription }}</td>
                <td>{{ row.ExonIntron }}</td>
                <td>{{ row.Effect }}</td>
                <td>{{ row.SNPlink }}</td>
                <td>{{ row.gnomADlink }}</td>
                <td>{{ row.CLINVARlink }}</td>
                <td>{{ row.PubMedlink }}</td>
                <td>{{ row.SourceDatabases }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif table.msg %}
        <div class="row">
            <div class="col-md-12 text-center"><strong>{{ table.msg|safe }}</strong>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center fw-light">No data has been found
            </div>
        </div>
        {% endif %}
    </div>

</div>
</div>
{% endblock %}
