{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'view_exp_ind_mut';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/view_exp_ind_mut.js') }}"></script>



{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>View Experimentally Induced Mutations</h2>
    <hr>

    <div id="view_exp_ind_mut" class="p-3">
        <div class="float-end d-inline-block">
            <div class="btn-group btn-group-sm"><i class="fas fa-shopping-cart"></i><span
                    class="cart-count badge rounded-pill bg-primary">0</span></div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Additional Search and Tools">
                <button type="button" class="btn btn-outline-secondary action-button disabled"
                        value="get_mutation_dist">
                    <i class="fas fa-search"></i>
                    View Mutation Patterns
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-secondary download-btn"><i class="fas fa-download"></i> Download
                </button>
            </div>
        </div>

        {% if query_result.data|length %}
        <table id="eim-result-table" class="table table-striped table-sm result-table " cellspacing="0" width="100%">
            <thead>
            <tr>
                <th><input class="form-check-input check-all" type="checkbox"></th>
                <th>Exposure</th>
                <th>Genomic Description</th>
                <th>cDNA Description</th>
                <th>Protein Description</th>
                <th>Model</th>
                <th>Clone ID</th>
                <th>Add Info</th>
                <th>PubMed</th>
                <th>MUT_ID:Clone_ID</th>
            </tr>
            </thead>
            <tbody>
            {% for row in query_result.data %}
            <tr>
                <td>{{ row.MUT_ID }}</td>
                <td>{{ row.Exposure }}</td>
                <td>{{ row.g_description_GRCh38 }}</td>
                <td>{{ row.c_description }}</td>
                <td>{{ row.ProtDescription}}</td>
                <td>{{ row.Model }}</td>
                <td>{{ row.Clone_ID }}</td>
                <td>{{ row.Add_Info }}</td>
                <td>{{ row.PubMed }}</td>
                <td>{{ row.MUT_ID }}:{{ row.Clone_ID }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif table.msg %}
        <div class="row">
            <div class="col-md-12 text-center"><strong>{{ table.msg|safe }}</strong>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center fw-light">No data has been found
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
