{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'search_tp53data';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/result.js') }}"></script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>Prevalence of TP53 Germline Mutations in Selected Cohorts</h2>
    <hr>

    <div id="view_germline_prevalence" class="p-3">

        <div id="criteria_div" class="my-2 p-1 collapse bg-light rounded-2 border border-1"
             data-criteria='{{ criteria|tojson }}'>
            {% if criteria|length == 0 %}
            <div class="fw-light fst-italic">None Selected</div>
            {% endif %}

            {% for criterion in criteria %}
            <span class="badge rounded-pill bg-secondary">{{ criterion.column_name }}
                {% if criterion.vals|length > 1 %}
                IN (
                    {% for val in criterion.vals %}
                        {% if loop.index0 > 0 %},{% endif %} {{ criterion.wrap_with }}{{ val }}{{ criterion.wrap_with }}
                    {% endfor %}
                )
                {% else %}
                = {{ criterion.wrap_with }}{{  criterion.vals[0] }}{{ criterion.wrap_with }}
                {% endif %}
            </span>
            {% endfor %}
        </div>
        <div class="pb-2">
            <a type="button" class="text-start btn btn-sm btn-outline-secondary"
               data-bs-toggle="collapse" href="#criteria_div" role="button" aria-expanded="false"
               aria-controls="criteria_div">
                <i class="fas fa-th-list"></i> View Selected Criteria</a>
            <a type="button" class="float-end btn btn-sm btn-outline-secondary"
               href="refs_corner#polymorph"><i class="fas fa-arrow-circle-right"></i> See Refs Corner: tp53 Polymorphism</a>
        </div>


        {% if query_result.data|length %}
        <table class="table table-striped table-sm result-table clientside-processed" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Diagnosis</th>
                <th>Cohort</th>
                <th>Cases Analyzed</th>
                <th>Cases Mutated</th>
                <th>Mutation Prevalence %</th>
                <th>Remark</th>
                <th>PubMed</th>
            </tr>
            </thead>
            <tbody>
            {% for row in query_result.data %}
            <tr>
                <td>{{ row.Diagnosis }}</td>
                <td>{{ row.Cohort }}</td>
                <td>{{ row.Cases_Analyzed|int }}</td>
                <td>{{ row.Cases_mutated|int }}</td>
                <td>{{ row.Mutation_prevalence }}</td>
                <td>{{ row.Remark }}</td>
                <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ row.PubMed }}" target="_blank">{{ row.PubMed }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif table.msg %}
        <div class="row">
            <div class="col-md-12 text-center"><strong>{{ table.msg|safe }}</strong>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center fw-light">No data has been found
            </div>
        </div>
        {% endif %}
    </div>

</div>
</div>
{% endblock %}
