{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'stats_germline_mut';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/view_germline_prevalence.js') }}"></script>


{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>Prevalence of TP53 Germline Mutations in Selected Cohorts</h2>
    <hr>

    <div id="view_germline_prevalence" class="p-3">

        {% if query_result.data|length %}
        <div class="float-end">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-secondary download-btn"><i class="fas fa-download"></i>
                    Download
                </button>
            </div>
        </div>
        <table id="germline-prev-result-table" class="table table-striped table-sm result-table" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="top"
                    title="Tumor site or clinical description of the selected cohort.">
                    Diagnosis
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="left"
                    title="Detailed criteria for patient selection.">
                    Cohort
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="top"
                    title="Number of patients included in the mutation screen.">
                    Cases Analyzed
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="top"
                    title="Number of patients found to carry a TP53 mutation. Details on mutations can be found in the dataset of germline mutations when the information was provided, but many studies do not provide a detailed list of mutations.">
                    Cases Mutated
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="top"
                    title="Percent of mutated cases.">Mutation Prevalence (%)
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="left"
                    title="Any further information on the cohort or method.">Remark
                </th>
                <th data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="left"
                    title="PubMed reference number provided by NCBI.">PubMed
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in query_result.data %}
            <tr>
                <td>{{ row.Diagnosis }}</td>
                <td>{{ row.Cohort }}</td>
                <td>{{ row.Cases_Analyzed|int }}</td>
                <td>{{ row.Cases_mutated|int }}</td>
                <td>{{ row.Mutation_prevalence }}</td>
                <td>{{ row.Remark }}</td>
                <td>{{ row.PubMed }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% elif table.msg %}
        <div class="row">
            <div class="col-md-12 text-center"><strong>{{ table.msg|safe }}</strong>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 text-center fw-light">No data has been found
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
