{% extends "tp53data.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    active_submenu = 'get_tp53data';
    dataSet = {{data|tojson|safe}};
    var bq_view_name = "{{ bq_view_name }}";
    var db_version = "{{ ver }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/view_data.js') }}"></script>

{% endblock %}

{% block subcontent %}
<div class="jump-div">
    <h2>View Data: {{ bq_view_name }}</h2>
    <hr>

    <div id="view_data" class="p-3" data-view-name="{{ bq_view_name }}">
        <div class="float-end">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-secondary download-btn"><i class="fas fa-download"></i> Download
                </button>
            </div>
        </div>
        <table id="view-data-table" class="table table-striped table-sm result-table small-font" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>
                    <input class="form-check-input check-all" type="checkbox">
                </th>
                {% for col_name in columns %}
                    <th>{{ col_name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>
{% endblock %}
